[2013-05-14 01:52] fabware opened #1 "supporting receive with UDP and send with HTTP"
In multiple data-center setup, It would be more useful if the sending part is HTTP, which is much more reliable and more easy to do access control. Any thought about it?

I would be helpful if you can publish more information about features under development and features you are planning.

[2015-03-03 20:48] dcramer opened #2 "Support data scrubbing via remote configuration"
This is an idea that's been thrown around a few times, but the gist is we'd want to allow you to configure data that you want scrubbed via the Sentry server, and have it relay that information to any clients so it can still happen pre-wire. This is important for compliance reasons, and is the primary reason data scrubbing is still in the client side spec.

[2015-03-03 21:16] dcramer commented on #1
I realize this ticket is 2 years old, so I'm just going to close it.

tl;dr Sentry no longer supports UDP, and HTTP (or some other socket) for the relay is clean enough.

[2015-03-03 21:16] #1 closed

[2015-03-17 02:38] fabware commented on #1
Thanks for your reply.

[2016-05-10 09:16] tomsun opened #4 "relative path assumptions in Makefile"
How to build this project? The Makefile contains interesting path assumptions

Makefile
[code]

[2016-12-19 17:06] badr-badri opened #5 "How to build"
Hello,

Can you please tell me how to build this project ? I'm in Ubuntu system with golang installed.
I cloned this project in my home directory and when  I run make command inside it i get this message :
go install: no install location for directory /root/sentry-relay outside GOPATH
	For more details see: go help gopath

I then export set gopath variable
export GOPATH=$HOME/sentry-relay
and rebu

[2016-12-19 17:17] mattrobenolt commented on #5
This hasn't been touched since 2014 and was never finished and isn't being used yet.

[2016-12-19 17:17] #5 closed

[2016-12-19 17:21] badr-badri commented on #5
Is this project definitely abandoned ? or we still can hope that one day it will be finished and correctly operating ?

[2016-12-19 18:42] mattrobenolt commented on #5
I mean, it might come back, but there are no immediate plans.

[2017-05-01 20:13] adamreisnz opened #956 "Add ability to filter on specific devices (or any tag)"
The feature to quickly filter out legacy browsers is great, however, I have some other old devices that are causing fluke bugs and I'd like to filter them out. To my surprise, I couldn't find out anywhere how to filter out specific errors except by using `ignoreErrors`, which I think only compares the error message body.

I would like for example, to be able to ignore all errors with tag `device:f

[2017-11-06 14:45] xeor commented on #956
Second this.. Is there any other way of filtering out `environment: dev`?

[2018-01-19 11:24] mitsuhiko opened #3 "Change DSN Api"
The DSN type should not use url nomenclature but what we have for dsns:

Proposed changes:

* `Dsn::scheme` -> return an enum `Scheme` with `Http` or `Https`.
* `Dsn::username` -> `Dsn::public_key`
* `Dsn::password` -> `Dsn::secret_key`
* `Dsn::path` -> `Dsn::project_id`

[2018-01-22 08:16] #3 closed, assigned to HazAT

[2018-05-03 10:57] mitsuhiko opened #9 "Fix origin handling"
We currently use a url to represent the origin. This is wrong as for a start a trailing slash is added but it also does not handle null etc.

[2018-05-03 13:41] mitsuhiko opened #10 "Decide payload limits"
Currently the system uses hardcode 512kb payload limits. Do we want to load this from the config or communicate from upstream?

[2018-05-04 10:52] mitsuhiko opened #12 "Add metric reporting"
We need basic metric reporting for the relay. So far this will only be for ops so it will be some operational metrics and not yet for driving the relay throughput.

[2018-05-07 16:32] #9 closed, assigned to nobody

[2018-05-07 18:21] #12 closed, assigned to nobody

[2018-05-08 08:05] jan-auer commented on #10
Suggestion:

 - default of 512kb
 - relay.yml allows to change that
 - when registering the relay, we load the upstream's limit and use whatever's smaller

[2018-05-13 18:47] #10 closed, assigned to nobody

[2018-07-20 05:48] lunim opened #39 "Issue authenticating to on-premise instance"
I have configured my on-premise instance to allow the relay public key, but am seeing this when attempting to run:

The failure happens instantly.

[2018-08-01 16:00] mans0954 opened #42 "Authenticating to sentry.io"
In the README it says:

"At present Sentry requires the relays to be explicitly whitelisted by their public key. This is done through the SENTRY_RELAY_WHITELIST_PK config key which is a list of permitted public keys."

How does one register this public key with sentry.io, or otherwise authenticate the relay to that site?

Thanks.

[2018-08-01 16:30] jan-auer commented on #42
That's not possible at the moment. We are still working on finalizing the first public preview of Relay and will offer a full UI for early adopters very soon, once we've ensured that it runs stable enough.

[2018-08-01 16:30] #42 closed, assigned to nobody

[2018-08-02 22:53] mitsuhiko commented on #39
Currently this happens if the sentry instance does not have a cache configured. This will be solved soon.

[2018-08-02 22:54] #39 closed, assigned to nobody

[2018-08-15 19:43] djadk84 opened #43 "Issue installing semaphore in FreeBSD via pip"
**% rustc --version**
rustc 1.27.0
**_% cargo --version_**
cargo 1.27.0
**_% uname -a_**
FreeBSD svrsentry 11.1-RELEASE-p1 FreeBSD 11.1-RELEASE-p1 #0: Wed Aug  9 11:55:48 UTC 2017     root@amd64-builder.daemonology.net:/usr/obj/usr/src/sys/GENERIC  amd64
**_% clang --version_**
FreeBSD clang version 4.0.0 (tags/RELEASE_400/final 297347) (based on LLVM 4.0.0)
Target: x86_64-unknown-freebsd11.1
Thre

[2018-09-03 16:11] untitaker commented on #43
Hi @djadk84, we currently don't support running Sentry on FreeBSD, and as you can see also don't offer precompiled semaphore. However, we just got rid of libsodium in master, so you might have more luck using `pip install py/` from master now.

[2018-09-06 12:31] #43 closed, assigned to nobody

[2018-12-19 16:11] o1da commented on #956
Any news there? Android 4 based devices cause many irrelevant bugs in my scenario. It would be nice to have the ability to filter them out.

[2019-05-25 12:49] Xevib opened #204 "Fails to install from pypi"
# Description

When insalling `semaphore` from pip I get the following error:

[code]

This happens on a "Linux 4.9.93-mainline-rev1 #1 SMP Tue Apr 10 09:42:40 UTC 2018 armv7l armv7l armv7l GNU/Linux"

[2019-05-25 12:51] untitaker commented on #204
We don't provide wheels for armv7, so you will have to install Rust to be able to build and install semaphore.

[2019-05-25 12:57] #204 closed, assigned to nobody

[2019-07-06 14:52] ghost commented on #956
Bumping again with the same need for ignoring some devices (namely Google Play's reviewing  WindsongAOB).

[2019-07-08 00:03] dashed commented on #956
@st-sloth and others:

There's a `!` (negation) operator, which you can use to filter out tags, e.g. `!device:iPhone`

<img width="991" alt="Screen Shot 2019-07-07 at 8 02 17 PM" src="https://user-images.githubusercontent.com/139499/60775545-254f6200-a0f2-11e9-854d-161090f419ad.png">

[2019-08-28 15:11] tonyo opened #230 "Building rdkafka on Windows fails"
[rdkafka](https://github.com/fede1024/rust-rdkafka) can't be reliably built on Windows at the moment, because it tries to run `./configure` as a build step and fails, not being able to find `bash`.
We should probably patch `build.rs` there to support MSVC.

[2019-09-15 11:05] bartbutler opened #1811 "Allow extra JSON fields for ingestion into security report API"
## Summary

Extra fields in security reports are rejected by Sentry. This breaks compatibility with some libraries which are otherwise compatible with the security header API. There are workarounds but it would be nice for Sentry to accept extra data into the event. Also, please keep HPKP report support--it is useful for non-browser apps.

## Motivation

While HPKP is being deprecated in browsers,

[2019-09-16 15:18] iluuu1994 opened #239 "upstream request returned error 401 Unauthorized"
This is probably a user issue, I just don't know enough about how semaphore works and the doc is a little sparse since it's not stable yet.

As I understand it, semaphore will not use any credentials when relaying to https://sentry.io and instead just use the public key in the DSN the same way the SDK does. Thus, I just used the default configuration.

This creates a key pair but I have no clue wh

[2019-09-16 18:53] jan-auer commented on #239
Switch relay to `proxy` mode and you should be good to go. Managed Relays are still under development (even though the default mode) and cannot be enabled yet.

[2019-09-16 20:28] iluuu1994 commented on #239
Fantastic, worked perfectly. Thank you so much!

Is it correct that there is no caching in `proxy` mode? The primary reason we want to use semaphore is so there's no lag in the webserver but it would be nice if logs aren't lost when the log server is unavailable.

[2019-09-16 20:28] #239 closed, assigned to nobody

[2019-09-17 12:23] iluuu1994 opened #243 "Default PII config"
I'd like to use semaphore in `proxy` mode. Thus I do not create a project.json file per project. Unfortunately, according to the [documentation](https://github.com/getsentry/semaphore/blob/master/docs/quickstart.md) at least, the pii can only be set in the project.json file.

It would be nice if the global settings could be changed. In our case, we'd like to track the e-mail and ip addresses.

WDY

[2019-09-17 13:03] jan-auer commented on #243
You can use the `static` mode for this. I believe this is not documented, sorry about that.

[2019-09-17 13:10] iluuu1994 commented on #243
Thanks @jan-auer for your reply!

The docs say this:

Doesn't this imply having to configure all the projects manually? The `proxy` mode so far look great, except that we'd like to change the default value of the pii config for all projects.

[2019-09-17 13:12] iluuu1994 commented on #243
What's also funny is that the docs say:

But it does, e-mails, ips, user paths, etc. are now hidden.

[2019-10-16 08:37] jglapa opened #267 "Config init via docker not possible"
Hi. I think I'm an early adopter but I really need to use the relay.

The installation instruction are really scarce and the only possibility to run  was to use the provided docker image.

The problematic thing is generating the initial config using the docker command:

`docker run -v $(pwd)/configs/:/etc/semaphore/ us.gcr.io/sentryio/semaphore config init --config /etc/semaphore`

There is a _ric

[2019-10-16 10:48] tonyo commented on #267
To start the container in the interactive mode and run commands such as `config init`, please add `-it` to your docker command, so it looks like `docker run -it -v $(pwd)/configs:...`.

What is your use case, if you don't mind me asking?

[2019-10-16 11:48] jglapa commented on #267
:+1: works fine indeed!

We host sentry on premise (in AWS) in a single region.
We're experiencing big configuration overhead when it comes to inter-region connectivity.
Having a relay in every region and configuring only it would be a major relief.

[2019-10-16 11:48] #267 closed, assigned to nobody

[2019-10-28 17:01] BYK opened #280 "Healthcheck does not work w/o authentication"
Reported here: https://forum.sentry.io/t/semaphore-healthcheck-is-only-when-relay-is-authenticated/7963

/cc @untitaker @jan-auer

[2019-11-06 12:14] voltcode opened #308 "InApp setting on frame ignored"
Please mark the type framework used:

- [ x] ASP.NET MVC
- [ ] ASP.NET Web API (OWIN)
- [ ] ASP.NET Core
- [ ] WPF
- [ ] WinForms
- [ ] Xamarin
- [ ] Other:

Please mark the type of the runtime used:

- [ x] .NET Framework
- [ ] Mono
- [ ] .NET Core

* Version:

Please mark the NuGet packages used:

- [ x] Sentry
- [ ] Sentry.Serilog
- [ ] Sentry.NLog
- [ ] Sentry.Log4Net
- [ ] Sentry.Extensions.L

[2019-11-07 13:22] FelixSchwarz opened #302 "README.md still mentioned MIT license"
That seems to be outdated since https://github.com/getsentry/semaphore/commit/c0f8995ce7bb0ff1402fee66aef00a2661fdcc46 ;-(

[2019-11-07 19:37] #302 closed, assigned to nobody

[2019-11-10 16:48] bruno-garcia commented on #308
I could repro the issue:

[code]

Ends up as:

<img width="549" alt="image" src="https://user-images.githubusercontent.com/1633368/68547425-84c6c280-03af-11ea-9ec7-96d4a2023562.png">

Also, the JSON the SDK created was:

[code]

Note the `in_app=true` as opposed to `in_app=1` claimed by the JSON after normalization.

Looks like a regression on normalization.

[2019-11-10 16:58] jan-auer commented on #308
This is expected behavior. If all frames are in app, we normalize the entire stack trace to false.

[2019-11-10 16:58] #308 closed, assigned to nobody

[2019-11-27 12:29] #280 closed, assigned to jan-auer

[2019-12-18 12:08] ki11roy opened #820 "Sentry is not skipping dummy minidump from Unreal Linux"
## Important Details

How are you running Sentry?

* [x] On-Premise docker [Version 9.1.2]
* [ ] Saas (sentry.io)
* [ ] Other [briefly describe your environment]

## Description

Sentry is not skipping dummy minidump from Unreal Linux [Server] and not producing any meaningful error log message. On Unreal side there is no error message either as Unreal ignores error reply from the Sentry. However,

[2020-01-07 21:08] BYK commented on #820
@jan-auer any ideas?

[2020-01-21 19:16] vokimon commented on #204
Just in case somebody else fall into this error. The missing file is `cargo` the rust package installer.

[2020-02-04 13:40] untitaker commented on #243
A lot of stuff happened on this front. Is this still broken for you?

[2020-02-04 13:43] iluuu1994 commented on #243
Not sure, we're still using an older version of Semaphore. I'll close the issue. If we update and I have any issues I'll let you know. 🙂

[2020-02-04 13:43] #243 closed, assigned to nobody

[2020-02-04 13:44] untitaker commented on #243
Thanks! We have flipped half of the codebase upside down there and it's sometimes hard to keep track what behaves differently and what doesn't.

[2020-02-04 13:50] untitaker opened #453 "Seeking alpha testers: Data Scrubbing enhancements"
We have created a prototype of a revamped server-side data scrubbing solution which also includes additional functionalities like:

* Ability to define custom regular expressions to match on sensitive data
* More fine-grained tuning on which parts of an event to scrub
* Partial removal or hashing of sensitive data instead of just deletion

At this time, we are ready to start an Alpha for these fea

[2020-02-14 14:58] iluuu1994 opened #473 "proxy mode doesn't work in 0.5.2"
The last version we're using successfully in production is semaphore 0.4.46.

This is my config:

[code]

The service starts without errors.

[code]

The event is never received. The service logs no errors. It doesn't exactly help `sentry-cli send-event` doesn't even complain when the service is shut down. Switching to the real DSN works as expected.

Any idea what's going on here? How can I provi

[2020-02-14 15:00] untitaker commented on #473
Could you set

[code]

to get debug logs?

[2020-02-14 15:04] jan-auer commented on #473
@iluuu1994 from the config it seems that you're forwarding to an on-premise installation of Sentry. Relay 0.5.0 and newer cannot used with current Sentry on-premise. We'll update the README to reflect this. There will be a Sentry release soon (probably 10.1) that will work again with Relay 0.5.

[2020-02-14 15:05] iluuu1994 commented on #473
This looks a little more useful:

[code]

[2020-02-14 15:06] iluuu1994 commented on #473
Oh that's a bummer, would've been nice to know a few hours ago 😆

But thanks for the fast response!

[2020-02-14 15:44] iluuu1994 commented on #473
I just downgraded to 0.4.63 which doesn't work either. Same result (400 Bad Request). I'm now back to using 0.4.46 which works as expected. Note that we're still using Sentry 9.1.2 as our sysadmin had various issues with the upgrade to 10.0.

Sentry is a fantastic tool but I think support and documentation could be better. For example, we can't send emails from Sentry, created an issue many months

[2020-02-14 15:44] #473 closed, assigned to nobody

[2020-02-14 16:03] jan-auer commented on #473
Thanks for the feedback, we appreciate the honesty :) We'll let you know once Relay 0.5 can be used with on-premise Sentry again!

There is a lot of effort going into making on premise better at the moment. Especially with internal components like Relay that are not stable yet, things can be a bit rough until we release 1.0 and offer full documentation. Relay will soon make it into https://github.

[2020-02-14 16:12] iluuu1994 commented on #473
I appreciate your response @jan-auer, thank you. We will look into the Single Tenant option. Azure has just opened a region in our country so this might be an option for us.

[2020-02-14 16:19] untitaker commented on #473
To clarify we are talking about Google Cloud regions, as it is the platform we use for SaaS as well.

[2020-02-14 16:20] iluuu1994 commented on #473
@untitaker

Hm... https://sentry.io/for/enterprise/ says:

[2020-02-14 16:21] iluuu1994 commented on #473
Oh sorry I missed the word "soon".

[2020-03-18 22:12] rhcarvalho opened #527 "Requirement to have a license key to download GeoLite2-City.mmdb"
A successful run of `make test` requires a file `GeoLite2-City.mmdb`. This file is downloaded through a make target that requires the `GEOIP_LICENSE` environment variable set.

Failure to set the env var to a proper value creates an empty `GeoLite2-City.mmdb` file which satisfies the build in the next run of `make test`.

The tests depend on a non-empty file, though, and fail.

As a side-effect, P

[2020-03-18 22:35] untitaker commented on #527
Initially this didn't require GEOIP_LICENSE as variable IIRC. It's probably worth taking a look at what the maxmindb crate (or other geoip libs) use for testing. Some of them are just C wrappers though

[2020-03-19 10:06] untitaker commented on #453
This feature is now available to early adopters: https://docs.sentry.io/data-management/advanced-datascrubbing/

[2020-03-19 10:06] #453 closed, assigned to nobody

[2020-03-19 10:47] #527 closed, assigned to nobody

[2020-03-20 10:26] rhcarvalho opened #534 "Fragile clock drift correction"
_From https://github.com/getsentry/relay/pull/526#discussion_r395376450_

@jan-auer wrote:

[2020-03-20 10:27] rhcarvalho commented on #534
_From https://github.com/getsentry/relay/pull/526#discussion_r395515196_

@untitaker wrote:

[2020-03-20 10:35] rhcarvalho opened #535 "TransactionsProcessor modifies event timestamps by default"
`TransactionsProcessor` modifies event timestamps by default as part of a "clock drift detection" feature.

Disabling it requires setting a value on the `now` field. None of this is documented.

The behavior is surprising, and makes constructing tests and generally using `TransactionsProcessor` unnecessarily hard, requiring deep knowledge on the implementation details.

[2020-03-20 10:43] untitaker commented on #535
I don't really understand what you're proposing. Is this only about testability or do you want SDKs to opt into clock-correcting behavior?

[2020-03-20 10:50] untitaker commented on #535
[answered in slack, no SDK API change]

I think we could write a dedicated processor for timestamp correction and also run it for error events. There is also some logic for fixing timestamps in the store processor for regular events, although the logic is a different one. I wonder if it would make sense to merge those two

[2020-03-20 10:51] rhcarvalho commented on #535
Either at least the behavior is documented, or best, code is explicit about what is going to happen:

[code]

Setting `TransactionsProcessor.now` is not obvious, and the documented purpose of this field doesn't describe its influence on mutation of timestamps.

[2020-03-20 12:10] jan-auer commented on #535
+1 on creating a separate processor (or a function called from the regular store normalizer). This seems to align most with the design decisions around orthogonal concerns in processors.

[2020-03-20 12:13] jan-auer commented on #534
That makes sense. To sum this up, the behavior should be:
- If `sent_at` is not set, do not perform clock drift correction as this skews too much. **Edit**: Do not backfill with the event timestamp.
- Fix SDKs to always include `sent_at`. We will require Envelope submission soon, so this change is feasible. Clock drift correction is a vital feature, but is not required for correctness of error eve

[2020-03-20 12:19] untitaker commented on #534
Where do we get the idea from that backfilling `sent_at` with `now()` skews too much? I think it's a very reasonable assumption that most of the SDKs send the transaction when it is over, as that's what all SDKs do right now. I would argue that delayed event submission is the special case.

[2020-03-20 12:20] untitaker commented on #534
also gotta rope @mitsuhiko @HazAT into this one as I discussed this logic with them at the time.

[2020-03-20 12:21] jan-auer commented on #535
One more argument to make this a separate processor: We likely also want external Relays to run this in non-processing mode. The reasoning is:

- External Relays can be trusted sufficiently with having an accurate clock.
- They are much closer to the source, meaning the drift can be detected more accurately
- Since Relays can incur arbitrary networking delays when forwarding through remote regions

[2020-03-20 12:22] jan-auer commented on #534
Please also see the comments at #535

[2020-03-20 12:26] jan-auer commented on #534
It does not if we fill at the right place. This right place is when receiving the event, making it equal to the `received_at` timestamp, in which case clock skew is canonically `0`. If we fill it later, then we're only correcting by Relay's internal delays.

If the actual question you're asking is why we don't fill `sent_at` with `event.timestamp`: This is based on the assumption that we cannot tr

[2020-03-20 12:29] untitaker commented on #534
Okay, right, that's my impression as well 👍

[2020-03-23 13:24] rhcarvalho commented on #534
While I extracted the conversation from #526, I don't have much insight on this with the limited information I have.

Why is it vital?
What are we trying to achieve here? Do we have a design I can refer to?

If the idea is to compare timestamps from client and server, it does not sound like a sound algorithm for clock drift correction.

[2020-03-23 14:28] rhcarvalho commented on #534
:+1:

Agree, the event may have been sent any time after it happened. We cannot assume `time.timestamp` is related to when the event was sent.

---

Not familiar with envelopes yet. From my research this is not sent by the JS SDK yet.

---

:+1:

Didn't find it with the name `started_time` in the code base.
Probably you meant `ProcessEnvelope.start_time`:

https://github.com/getsentry/relay/blob/6

[2020-03-23 14:52] jan-auer commented on #534
Thanks. Seems like we are in general agreement.

Excellent point. I remember that this was raised in the initial discussions around this feature and was accepted. However, we can mitigate this by only run clock drift correction, if the drift is larger than a certain amount (e.g. `5s`). Let's add this configurably, too.

Let's close discussion on this for now and implement the changes based on http

[2020-03-23 15:01] mitsuhiko commented on #534
That's why originally we only wanted to do drift correction if we have more than a threshold (and the proposal was actually hours and not seconds). All the points brought up are correct.

The drift correction is only really necessary/useful for clients with clocks completely out of sync (eg: wrong hour/date) as otherwise the correction makes matters worse.

[2020-03-24 10:49] HazAT commented on #534
We had a call and decided to move `sent_at` into the envelope header.
Reasons:
- In the future, we will eventually only send envelopes
- Until envelope sending is implemented in JS we keep it as it is

[2020-04-04 07:38] JeanMertz commented on #534
I didn't read through this thread in detail, but I came here searching for an issue where my millisecond and nanosecond breadcrumb timestamps (formated as a Unix timestamp integer with millis or nanos added) are being rejected by the Sentry API (regular Unix timestamps in seconds work as expected).

After verifying that my timestamps are correct, my mind drifted towards clock skew, which was how I

[2020-04-04 13:31] rhcarvalho opened #549 "Document Event.Exception.RawStacktrace"
The [SDK development docs](https://docs.sentry.io/development/sdk-dev/event-payloads/exception/) mentions the `stacktrace` attribute, but not `raw_stacktrace`.

The [source code documentation](https://github.com/getsentry/relay/blob/1f0d5f8fab5fb64c4d882a001853ed5bdbaf1759/relay-general/src/protocol/stacktrace.rs#L181-L198) also doesn't do much explaining the intentions and differences.

SDK devel

[2020-04-04 13:35] untitaker commented on #549
SDK developers are not supposed to set this attribute so I would not like to document this in SDK dev docs, but the code comments do need some love. We only have this: https://github.com/getsentry/relay/blob/1f0d5f8fab5fb64c4d882a001853ed5bdbaf1759/relay-general/src/protocol/exception.rs#L27

After server-side processing, the old SDK-provided stacktrace is backend up in this attribute

[2020-04-04 14:08] rhcarvalho commented on #549
I didn't know. For whatever reason, this field is defined and exported (public) in the Go SDK causing unnecessary confusion.

[2020-04-04 14:46] jan-auer commented on #549
@untitaker We can take a pass through both sentry-docs (again 😄)and the protocol, to explicitly mark all fields as required, recommended or optional. Additionally, we can also qualify which attributes are for internal use only.

I'm thinking at least along the lines of how we documented outcomes (here it declares where an outcome is emitted):
https://github.com/getsentry/relay/blob/1f0d5f8fab5fb64

[2020-04-04 15:44] untitaker commented on #549
Do you want to document culprit, title and Metadata as well? I considered them out of scope in principle, but in any case i see them in the same bucket as raw_stacktrace

[2020-04-05 08:32] jan-auer commented on #549
The rule in the past was that we do not document internal attributes in external docs. Culprit, for example, was explicitly removed because it is no longer considered public API.

I would propose we mark all fields in Relay, and we ensure that this is also reflected in docs for all attributes that are not internal.

[2020-04-06 08:17] untitaker commented on #534
@JeanMertz your timestamp is milliseconds, please divide by 1000

[2020-04-06 08:31] rhcarvalho commented on #534
@JeanMertz your issue is unrelated to the discussion here. I've cut https://github.com/getsentry/sentry-go/issues/190 to discuss/track that. In short, when sending a numeric value, the server treats it as seconds since the UNIX epoch. Please let's continue the conversation in the new issue.

[2020-04-16 15:59] fmartinou opened #557 "Docker image semver tags"
Hi,

I'm looking for a 0.4.x Relay image to test relay with an on-premise Sentry 10 install and I realized that there are no semver tags on your images (neither on the Docker hub nor on the GCP registry); just UUIDs...

How can I find a specific version?

[2020-04-16 16:33] jan-auer commented on #557
The easiest way would be to get the commit hash from the release you want to run and use that as docker tag.

We're in the final stage of integrating Relay into the onprem setup and will release a new version as soon as this is complete. That would allow you to use the latest released version of Relay. We'll look into tagging releases in Docker.

[2020-04-16 16:46] fmartinou commented on #557
Thanks for your answer.

2 quick questions:
- which Relay version do I need to integrate to a Sentry 10 version at this time?
- when is planned the "official" Relay version compatible with onprem Sentry10?

Because the oldest tag available in the GCP registry is pointing to a `0.4.65` version and it's not working;
I get a 400 error from sentry when Relay sends the event.
I think I encounter the sa

[2020-04-17 07:18] jan-auer commented on #557
That would be version 0.4.61 or older. To be honest, I was not aware that GCP removes old tags. This should definitely not have happend, and we'll look into restoring those tags, or moving it over to Dockerhub going forward.

As a workaround, you could try to build the container yourself by checking out https://github.com/getsentry/relay/commit/0cca2b1854d6956326719809d9a0579df6a9bb13 and running

[2020-04-17 08:34] tonyo commented on #557
We don't have semver tags on Relay Docker images (yet), but neither Google Container Registry nor Dockerhub shouldn't delete old tags.

One caveat is that we renamed this project (from `semaphore` to `relay`) along with the Docker image a couple of months ago, so that's why some older tags might be missing from the `relay` image.

So to answer your question @fmartinou, as @jan-auer suggested, you

[2020-04-17 10:43] fmartinou commented on #557
Thank you @tonyo and @jan-auer for your answers.
I didn't know about this old name; I'll give it a try... thanks !

[2020-04-17 10:43] #557 closed, assigned to nobody

[2020-04-20 15:04] BYK commented on #557
2 cents: I strongly recommend pulling from Docker Hub in the future though :)

[2020-05-01 11:27] vincent-heatseekr commented on #204
You're a hero. This ``sudo apt-get install -y cargo`` solved the problem for me.

[2020-05-18 11:00] #534 closed, assigned to nobody

[2020-05-18 11:00] #535 closed, assigned to nobody

[2020-05-20 12:54] drook opened #587 "cannot build 0.4.x for setting up on premises for Sentry"
_Env:_
git version 2.25.2
Python 3.7.7
rustc 1.43.1
cargo 1.43.0

Well, like it's said in the subject, here it is (neither 0.4.65 or 0.4.63 can be built)

[code]

[2020-05-20 13:03] jan-auer commented on #587
If you check out the latest `master` of Sentry onpremise, then you can use the latest Relay version. We will soon change the versioning schema so that Relay's and Sentry's versions match, which will make this much easier.

The docs discrepancy is addressed by https://github.com/getsentry/relay/pull/579

[2020-05-20 17:49] drook commented on #587
Do I need Sentry more recent than 10.0.0 tag ?

[2020-05-21 08:27] jan-auer commented on #587
The latest release is indeed 10.0.0, it just doesn't show up on GitHub. However, 10.0 does not yet support relay. There is another release planned for June 2020, followed by a monthly release schedule.

Until the June release, you would have to go with `latest`.

[2020-05-21 19:26] drook commented on #587
Thanks a lot.

[2020-05-21 19:26] #587 closed, assigned to nobody

[2020-06-01 18:33] eakoli opened #4972 "Adding minidump to event hides exception data."
We are generating events from cpp exceptions using the std::terminate_handler hook.<br>Attaching the exception detail as documented here [https://docs.sentry.io/platforms/native/#exceptions](<https://docs.sentry.io/platforms/native/#exceptions>)<br>Everything works fine and shows up correctly on sentry (the name of type and value).

But if we also attach a mini dump to the event (via Breakpad) the

[2020-06-02 08:39] Swatinem commented on #4972
I think it does. Essentially the minidump will create an `event` internally, and the rest of the envelope is only used for scope information. @jan-auer can say more probably.

[2020-06-02 10:06] jan-auer commented on #4972
Right, this needs changing on the server. It totally makes sense to preserve the original exception information if provided manually. There's no way to fix this in the SDK at the moment.

[2020-06-30 02:30] bruno-garcia opened #643 "contexts.device.timezone normalization issue"
While implementing https://github.com/getsentry/sentry-dotnet/pull/457 I noticed an issue:

![image](https://user-images.githubusercontent.com/1633368/86076332-e1b6dc00-ba57-11ea-8e9a-f0fc634fee83.png)

Is this a org-wide normalization rule someone added?

Just to confirm, is there a validation to the format? Since `Toronto/Eastern` would come from a unix-like but that format isn't what is reporte

[2020-06-30 07:15] jan-auer commented on #643
Confirming that this is a PII stripping rule.

[2020-06-30 07:15] #643 closed, assigned to nobody

[2020-07-21 07:23] rakcy opened #1812 "Sanitation should happen before truncation"
## Summary

Currently, sentry tries to strip sensitive data after the server has already truncated it, leaving some truncated sensitive data not stripped.

## Motivation

I rely a lot on server side filtering of sensitive data. However, there are times when sensitive data that are initially stripped are suddenly not stripped because the value became too large and some parts got truncated. The best

[2020-07-21 08:54] untitaker commented on #1812
We're aware of this problem. I don't think reordering the processing steps as you suggest will fix the problem as payload trimming can happen within the sdk or the application itself. The only way I see working is to adjust the regexes to work on partially trimmed data. That's tricky to do and not just one change.

[2020-07-22 02:31] lagren opened #672 "Missing context on `invalid digit found in string`"
When relay is deployed in a Kubernetes cluster and there is a Kubernetes service called `relay`, an environment variable called `RELAY_PORT` is automatically added to the runtime environment. The value is in the form of `tcp://10.16.0.48:3000` and is causing an error that is not giving much context to help tracking down the error:

[code]

If possible, could the error printed include the environme

[2020-07-22 02:34] lagren commented on #672
A workaround for deployments to Kubernetes: Add an explicit environment variable RELAY_PORT=3000 to the deployment.

[2020-07-22 11:31] jan-auer commented on #672
We can print the offending value in this case. The reason we initially decided against this is to avoid printing potentially sensitive information on some fields like the private key. Probably, we can make this selective based on which field this is about.

We're not testing for deployment into Kubernetes (yet), thanks for posting the workaround. Is `RELAY_PORT` a commonly set environment variable

[2020-07-22 12:56] lagren commented on #672
Kubernetes adds environment variables for all services running at the time when the pod started. The name of the service is used as a prefix for the environment variables.

This is a partial dump from the environment variables (only included Memcached and Redis to keep this short):
[code]

These entries are added since I had to create a service to expose Redis and Memcached to the other pods in th

[2020-07-22 13:25] jan-auer commented on #672
Agreed, I think this is sensible. For the non-sensitive variables we can still print the value in addition to this.

[2020-07-23 13:36] HCrane commented on #672
As someone who tried to find the code where this error was thrown: Please add which variable is cuasing this error!

[2020-07-28 12:27] tonyo opened #683 "FQDN for HTTPS upstream is not supported"
Having

[code]

in `config.yaml` leads to the following error on startup:

[code]

Removing the trailing dot fixes it.

[2020-08-12 03:46] sxwei123 opened #708 "Relay discards events when it is offline"
Hey there, I did some experiment on the relay `20.7.2` and found something might be wrong.
I setup the relay in `static` mode and setup the project configuration file and localhost DSN according to the documentation.

Here are the steps of my experiments:
1. Relay has Internet connection
2. Trigger an error in client SDK
3. Client SDK get 200 from relay
4. Relay forwards the error to sentry.io (I

[2020-08-12 10:00] untitaker commented on #708
hi, can you post the log output of Relay with this in your config:

[code]

[2020-08-17 11:54] jan-auer commented on #708
This is indeed the way it is implemented at the moment. Relay does not retry event submission under any circumstance, including connection dropouts. It is planned for Relay to queue up during connection downtimes.

[2020-08-24 06:04] sxwei123 commented on #708
@jan-auer So the queue during downtimes is not there for now?

[2020-08-24 08:54] untitaker commented on #708
There are conditions under which Relay is queueing up but yeah, effectively it doesn't work right now to use it for offline mode.

[2020-08-27 08:22] untitaker commented on #708
@sxwei123 fyi we're working on improving the behavior there right now, starting with https://github.com/getsentry/relay/pull/731

[2020-09-17 04:20] drook opened #777 "ERROR: error fetching project states: could not send request to upstream"
Relay: 20.8.0
[code]

Symptoms: Sentry stops streaming events. When examining the relay log, the following entries are found:
[code]

Fix: relay is restarted at this point, and Sentry continues to stream events.

In the same time relay just doesn't exit with error - for some reason it just stops processing events. From my point of view:

1) logs give no ideas what "server" the relay talks about. I

[2020-09-17 08:57] jan-auer commented on #777
Can you please share the following information:
 - Which setup are you running Relay and Sentry in? Is this running in our official [onpremise](https://github.com/getsentry/onpremise) setup, or a custom one?
 - Which mode is Relay running in?
 - Can you share the full `config.yml` file?

The specific request goes to the Sentry web API, which is configured with the `relay.upstream` field. "Server d

[2020-09-17 17:38] drook commented on #777
1) it's a custom one, because I decontainerized all of the structural services, like noSQLs/databases for easier administration (to be honest, I'm pretty happy about it).
2) not use about the mode, I'm just running it as _/usr/local/relay/bin/relay run -c /usr/local/etc/relay_ inside an environment that points to its config (below)
3) sure:
[code]

It occured to me indeed that this could be relate

[2020-09-18 21:37] jan-auer commented on #777
It looks like one of the other services stops working and is not restarted properly. The connection error above looks promising, although it is hard to judge if this is actually the culprit and whether one of the Sentry workers or one of the services is at fault here.

This is a shot in the dark, but a quick search revealed [this issue comment](https://github.com/celery/celery/issues/3932#issuecom

[2020-09-18 21:37] #777 closed, assigned to nobody

[2020-10-09 14:04] jan-auer commented on #708
The final PR has landed with https://github.com/getsentry/relay/pull/788 and is available with the latest Relay nightly build. The 20.10.0 release, scheduled for October 15 next week, will include this functionality.

Relay will detect network errors and retry sending for a number of times. Also, Relay will back off if the upstream appears to be unreachable until a connection can be established ag

[2020-10-09 14:04] #708 closed, assigned to nobody

[2020-10-16 13:23] #230 closed, assigned to nobody

[2020-10-22 19:34] BYK commented on #956
Closing this issue due to staleness. Feel free to comment here if you think we should still work on this.

[2020-10-23 19:26] jan-auer commented on #820
Since this has been reported, we have performed significant changes to the ingestion endpoints, including the UE4 endpoint. It has been moved into Relay and emits a better error message. After upgrading to Sentry 20.10.0, you should therefore at least see a better error message.

Relay also does not recognize the `0xDEADBEEF` dummy minidump. I'm moving this issue to the Relay repo until we have a

[2020-10-23 19:32] mitsuhiko commented on #820
I think we should re-evaluate the unreal XML again. Last time I looked into it, it was mostly useless because it lacked build IDs but maybe we can make this work somewhat for such cases to get at least a basic stack trace.

[2020-10-23 19:32] jan-auer commented on #820
Actually, I just checked again and Relay should in fact skip this already since we can detect minidumps and dummys. We'll be adding an integration test for this, but upgrading to Sentry 20.10.1 should solve your issue(s).

[2020-11-19 20:34] wpodgorski opened #843 "Expect-CT security reporting implementation does not comply with current revision of Expect-CT Extension for HTTP standard"
## Important Details

How are you running Sentry?

On-Premise with Docker, version `9.1.1`.

## Description

Lately we have created a project in our on-premise Sentry to collect `Expect-CT` violation reports. We have configured everything according to [Security Policy Reporting](https://docs.sentry.io/product/security-policy-reporting/) and started testing the endpoint with Chrome's (`86.0.4240.19

[2020-11-20 07:57] jan-auer commented on #843
Thank you, @wpodgorski, for this detailed report and background information.

[2020-11-24 09:51] admincheg opened #849 "Peridocally crashed relay"
Hello.

Relay was builded from tag 20.10.1 by `cargo build --all-features` and time to time crashing with strange repeatable error:

[code]

All services, like kafka and clickhouse seems working. After restart relay working near 5 hours and crashing again with same errors.

Service config:
[code]

[2020-11-24 10:07] untitaker commented on #849
Thanks for reporting,

It would be helpful to give us:

* the project config that Sentry returns to Relay (particularly the section `piiConfig`) as response to `/api/0/relays/projectconfigs/` or alternatively a screenshot of your Security & Privacy settings
* a sample event that makes relay crash, if the crash is repeatable with a particular event payload.

[2020-11-24 11:02] admincheg commented on #849
Oh, sorry, wrong config attached. Current config below:

[code]

About "what event crash relay" I haven't answer, because we produce big bunch of events. All requests in nginx seems ok after relay crashing. Relay reply 200, but don't working. Logs near crash:

[code]

Logs from nginx: [sentry.nginx.log](https://github.com/getsentry/relay/files/5589329/sentry.nginx.log)

Request payload of message

[2020-11-24 11:04] untitaker commented on #849
can you take a screenshot of the Security & Privacy in the project settings too? Surely there must be something configured if `pii/processor.rs` runs.

[2020-11-24 11:08] admincheg commented on #849
Em, last two screenshots created from Settings -> Security & Privacy.

[2020-11-24 11:10] admincheg commented on #849
This is screenshot from project, but I think this error doesn't related to one project.

![1606216146](https://user-images.githubusercontent.com/769936/100086603-8c83c880-2e45-11eb-8a1d-fd73f7391afe.png)

[2020-11-24 11:15] admincheg commented on #849
Some kind of information about our setup:

1. Our instance was updated from version 8 through 9.1.2 to 20.10.1
2. All services builded and installed to physical machine without dockerization

[2020-11-24 11:15] untitaker commented on #849
Ok thanks, I was specifically looking for an enabled Use Default Scrubbers.

If you want a quick workaround, disabling this setting and restarting relay should fix it, at the expense of disabling data scrubbing.

I don't think I've seen this bug in production, and we really do have a lot of projects and events.

[2020-11-24 11:17] untitaker commented on #849
actually @admincheg, the assertion is a `debug_assert!`. Did you compile Relay yourself? I think you missed the `--release` option when running `cargo build`.

[2020-11-24 11:19] admincheg commented on #849
I was try to build your project through Makefile, but cargo told me wrong keyword `+stable` and as I see your variant isn't working too:

[code]

[2020-11-24 11:21] admincheg commented on #849
Whoa, sorry, think about one thing, type another. With `--release` keyword building started, but Makefile didn't work.

[2020-11-24 11:23] untitaker commented on #849
Yes most things in the readme and the makefile are for development. There is `make release` (also mentioned in the readme) but it assumes rust installed via rustup.

`+stable` is for instructing cargo to use a stable rust compiler. It probably would not work if you installed rust via apt.

[2020-11-24 11:25] untitaker commented on #849
You should see a drastic performance increase with `--release` btw.

[2020-11-24 11:32] admincheg commented on #849
New interesting errors after building release version.

[code]
Additional log from another parts of project
[code]
I think this issue can be moved to pending, while I looking for problems. Thanks for advice.

[2020-11-24 19:00] jan-auer commented on #849
Have you considered using our onpremise sentry setup? This looks like an issue in request handling on the sentry server side, potentially the web server is not fully up. Our docker-compose setup aims to simplify setting up all these services and make them talk to each other.

[2020-11-24 21:12] untitaker commented on #849
so we have two bugs here:

* networking issues -- if this is actually a relay bug it may happen for ext relays
* invalid assertion -- I would like to keep it as we should be able to see this assertion failure in tests only. but if it happened in prod it would also affect ext relays

[2020-12-07 22:01] mvaled opened #877 "Upstreams disconnects after 1 min. Is this expected?"
I've had an on-premises Sentry version 9 for several years.  Two weeks ago I found the time to update to Sentry 20.  I took a look at [your onpremise](https://github.com/getsentry/onpremise) configuration and I figure a way to deploy in our server.

I've noticed relay disconnects to the upstream web server each minute:

[code]

I think this is caused by a `Keep-Alive` header somewhere.  Can I incr

[2020-12-07 22:05] untitaker commented on #877
Can you try adding

[code]

to your config?

[2020-12-07 22:16] mvaled commented on #877
@untitaker

Thanks for you response.    After that change, things got bad turn:

[code]

[2020-12-07 22:21] untitaker commented on #877
Cool, that's worse. Do you have capability to inspect the response body of sentry to relay? I wonder why the request is invalid.

[2020-12-07 22:22] untitaker commented on #877
Context: We intend to switch to reqwest as HTTP client (the option to switch back/forth is temporary), so I think it's wasted time to investigate bugs in the old client.

[2020-12-07 22:31] mvaled commented on #877
Probably, but right now I have no clue.  I would have to look the at the code to see if I could trap the request/response or put DEBUG=True in the webserver: Would it help?

Changing relay's logging level to DEBUG didn't helped much, though.

[2020-12-07 22:34] mvaled commented on #877
I'm looking at the code of the upstream actor, and I noticed I've never spotted the info log at:

[code]

But I've received events from clients, so... what's happening here?  Am I missing something?

[2020-12-08 00:20] mvaled commented on #877
Well I'm not getting events from clients right.  I'm triggering events in some the applications and I don't see them appear in Sentry :*(.

Still the logs just show:

[code]

[2020-12-08 01:35] mvaled commented on #877
Hum... I ran `docker pull` for all the images `snuba`, `rely`, `sentry` and `symbolicator`.  Now I'm getting these logs:

[code]

[2020-12-08 02:00] mvaled commented on #877
I tried once more to use `reqwest`, but it failed again with 400 Bad request.  But I wasn't able to catch the request to why sentry's complaining about it.  And now I'm back to the cycle of `ERROR: authentication encountered error`...

I'll report back tomorrow if I find anything.

Best regards.

[2020-12-08 19:15] untitaker commented on #877
@mvaled I have opened #878 for the 400 bug, let me know if that fixes the issue

[2020-12-09 05:39] ajacques opened #879 "Can't connect to Kafka broker using SSL"
I'm using the docker image `getsentry/relay:20.11.1`

I'm trying to connect to a Kafka broker using SSL (port 9094), but Relay is reporting that my config file is invalid.

[code]

[code]

According to the [rdkafka docs](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md) this should be a legal configuration property and value.

Rdkafka claims this is an issue with the wrapper lib

[2020-12-09 14:49] untitaker commented on #879
Trying to fix this in #881 but I don't have full confidence that it will work. Could you `docker build` from that branch and test?

[2020-12-15 10:07] #879 closed, assigned to nobody

[2020-12-16 17:30] Gudahtt commented on #956
I think you should still work on this! The ability to add an inbound filter by tag would be _incredible_.

The product I'm working on is struggling to reduce our error volume, as we're hitting the rate limit. A lot of the errors we get are from Chromium/Firefox forks like `Mail.ru` or `Coc Coc` or `Waterfox`, which may be "legacy browsers" but not present among the legacy browser filters. So we cu

[2020-12-17 12:36] mvaled commented on #877
@untitaker

As commented [there](https://github.com/getsentry/relay/pull/878#issuecomment-741599112) the issue still happens.  As soon as I switch to `reqwest`, I get the 400 error.  This is the full log for the first seconds after restarting relay with `reqwest`:

[code]

[2020-12-17 12:42] untitaker commented on #877
Fair enough, we merged this because it fixed the issue for another customer. I'm not really sure what to try then

assuming you're sure you're running the correct commit, let's try request capturing: I was thinking more of using wireshark assuming you have unencrypted traffic.

[2020-12-18 13:19] mvaled commented on #877
Hi @untitaker,

I'm rebuilding the image from master:

[code]

So, I'll be running relay with the right commit.

As for using wireshark, I'm not really sure if I'm allowed.  Let's find out.

[2020-12-18 15:28] mvaled commented on #877
Unfortunately, using wireshark is not possible.  I don't have physical access to the server and X11 forwarding via SSH is not allowed :(

[2020-12-18 15:53] mvaled commented on #877
I'm gonna use `tcpdump` (or something like that) in the server and import it in wireshark locally.

[2020-12-18 16:34] mvaled commented on #877
@untitaker

Using `tcpdump` I could sniff the traffic going to the upstream.  Once with actix, and once with reqwest.  I think I have spotted a difference:

![Screenshot from 2020-12-18 11-31-30](https://user-images.githubusercontent.com/270825/102637943-c2565d00-4124-11eb-8bad-5472a3dbe846.png)

On the left is the actix trace, on the right is the reqwest.  The JSON payload using reqwest is Array

[2020-12-18 16:59] mvaled commented on #877
Looking again at the traces I noticed my previous comment was a response coming from the server, not the POST send by the relay.    So I looked again.

In the good trace, I observe the following:

Relay sends a POST to upstream with a JSON payload `{relay_id: ..., public_key: ..., version: ...}`.  There are two custom HTTP headers: `x-sentry-relay-id: bcfd9d5a-...` which matches the `relay_id` in

[2020-12-20 20:02] jan-auer commented on #877
Thank you, this in fact points out the problem: `transfer-encoding: chunked`. The sentry web container is not able to handle this, and we should not be creating such a request. We'll submit a bugfix for this, thank you for uncovering it. (**Edit:** https://github.com/getsentry/relay/pull/890).

The configuration option you're setting, `_client: reqwest`, is unstable and still being developed. I'm

[2021-01-08 10:46] bartbutler commented on #1811
"Comment" to keep issue open :)

[2021-01-24 13:16] drook opened #915 "Cannot build 21.1.0 using rustc 1.49.0"
## Important Details

How are you running Sentry?

On-premise. containerless, 21.1.0

OS: FreeBSD 12.1
Python:
Python 3.6.12 (default, Jan 24 2021, 14:59:42)
[GCC 4.2.1 Compatible FreeBSD Clang 8.0.1 (tags/RELEASE_801/final 366581)] on freebsd12

Rustc:
rustc 1.49.0

## Description

Build crashes on **_python3.6 setup.py install_** stage:

[code]

### Possible Solution

Rollback to 20.8.0.

[2021-01-24 17:55] BYK commented on #915
Which dependency is this?

[2021-01-24 18:27] drook commented on #915
Looks like sentry-relay <- parking_lot_core.
Here's the more from log before it crashed (probably should attach the whole log but to be honest I though that this will scare away the developers since it's way long):

[code]

[2021-01-24 18:46] BYK commented on #915
These are the docs for building relay: https://getsentry.github.io/relay/relay_cabi/index.html (maybe they'll help).

Pinging @mitsuhiko and @jan-auer as our Relay/Rust experts.

[2021-01-25 08:18] jan-auer commented on #915
This is most likely the same as https://github.com/luser/rust-minidump/issues/100, which was fixed upstream. We can fix this by releasing a new version of librelay.

[2021-01-25 09:16] jan-auer commented on #915
We'll be releasing `sentry-relay` version 0.8.2 soon, which compiles under Rust 1.47.0 and newer.

~@drook on which platform are you trying to run Sentry? We distribute manylinux1 wheels that should make building the Rust source unnecessary.~

**Edit**: All good, you stated in the issue description that you're installing on FreeBSD.

[2021-01-25 11:56] drook commented on #915
So.... atm I need Rust of exact version 1.46, right ? I've tried to build 21.1.0 first on 1.44 and 1.45, and it gave me errors that I interpreted like the rustc version is too low.

[2021-01-25 13:35] untitaker commented on #915
@drook we are preparing a release of sentry-relay that should fix those issues. Unfortunately we have found other issues that block a release and are actively working to fix them

[2021-01-25 13:53] untitaker commented on #915
https://github.com/getsentry/relay/pull/917

release of pypi pkg will follow

[2021-01-26 10:52] jan-auer commented on #915
@drook the updated version [`sentry-relay 0.8.2`](https://pypi.org/project/sentry-relay/0.8.2/) has been released. Could you please try again?

[2021-03-13 13:37] jan-auer opened #949 "Add documentation links to config file"
In his great [post on Sentry 10](https://medium.com/@twunde/the-unofficial-guide-to-upgrading-sentry-on-premise-9-to-sentry-10-5e8b4e476349), Thomas Wunderlich mentions:

This is something our config generator in `relay config init` can and should do.

[2021-03-18 19:36] chadwhitacre commented on #956
Unlocking and reopening for @Gudahtt and @bengentil (#24501). @getsentry/owners-ingest can you take a look at this again? Thanks.

[2021-03-19 10:22] RaduW commented on #956
I think this issue should be moved to Relay since inbound filters are now implemented in Relay.

Also we are working now on dynamic sampling which is a more generic way to do filtering (or sampling).

All inbound filters are now also implemented as dynamic sampling rules and I think going forward we should probably only
add this type of functionality to dynamic sampling since it is a more powerful

[2021-03-19 12:06] jan-auer commented on #956
There are no plans to add further capabilities to the existing inbound data filters. Dynamic Sampling is in very early development, so for the time being this is a wontfix. Once dynamic sampling is ready, we will communicate this across the product.

As @dashed mentions above, you can filter for specific devices in the Issue Stream, Discover, and Metric Alerts. This should allow to customize views

[2021-03-19 12:06] #956 closed, assigned to nobody

[2021-03-25 09:49] spawnia opened #962 "Allow configuration through environment variables"
I am currently setting up Sentry Relay in our Kubernetes cluster. Passing the configuration as a file works fine, but is relatively verbose.

[code]

It would be nice if I could pass the configuration values as environment variables instead.

[code]

Such a configuration style is common practice among many other Docker images i have used.

[2021-03-25 10:05] RaduW commented on #962
Relay already supports setting common configuration parameters with either command line arguments or environment variables.
Please have a look at:
https://github.com/getsentry/relay/blob/master/relay/src/cli.rs#L53-L91
in order to see how to do that through either command line arguments or environment variables.

[2021-03-25 10:09] #962 closed, assigned to nobody

[2021-03-25 10:10] spawnia commented on #962
Thank you for the quick answer. How would i specify the mode with that?

[2021-03-25 10:14] RaduW commented on #962
Mode is unfortunately not one of the configurations you can specify through command line or environment variables.
The default mode is `managed` if you need a different mode you would need to provide a configuration file.

[2021-03-25 10:20] spawnia opened #963 "Allow specifying mode through argument or environment variable"
I would like to be able to specify the mode without usage of a configuration file to simplify my deployment, see https://github.com/getsentry/relay/issues/962#issuecomment-806527192. For example:

    docker run getsentry/relay run --mode=proxy

[2021-03-25 10:29] spawnia opened #964 "Specify all configuration values through environment variables"
Follow up from https://github.com/getsentry/relay/issues/962.

As clarified by @RaduW in https://github.com/getsentry/relay/issues/962#issuecomment-806521178, some configuration values are available as environment variables, while others are not. That circumstance makes this configuration option a dead end: configuring a subset of values works fine, but once an unsupported option is required, one

[2021-03-25 10:31] untitaker commented on #964
I believe we have tried to do this in a generic way and failed to implement this in Rust (or rather concluded it would require metaprogramming which we did not want to invest the time into)

[2021-03-25 10:35] spawnia commented on #964
I currently count 50 configuration options at https://docs.sentry.io/product/relay/options/. While annoying and repetitive, typing them out by hand does not seem all that bad. Would you accept a PR for that?

[2021-03-25 11:00] untitaker commented on #964
@spawnia not sure how good that will look, and how easy it would go out of sync. I'm tempted to say no tbh. Perhaps somebody else has a better idea on how to abstract this well in code so I think we should keep this issue open regardless.

[2021-03-25 11:00] RaduW commented on #964
While the proposed idea was previously discussed, implementing it in a generic and clean way is a bit more complicated.

There are configurations that accept arrays, like the configuration for Kafka parameters and configs that accept maps, like
metrics, which would make the associated command line arguments and environment variables quite messy.

There is also the problem of escaping the values pr

[2021-03-25 11:08] spawnia commented on #964
I see your concerns and agree that there needs to be a balance between the usefulness of this feature and the implementation effort and maintenance burden. Perhaps we can develop an idea that strikes a good middle ground.

Configuration values could simply be parsed as YAML or JSON (a subset of YAML), which would solve the problem of passing complex values through strings.

	METRICS_DEFAULT_TAGS='

[2021-03-25 11:29] RaduW commented on #549
I would propose to put all internal fields in an `internal` object, an internal object can appear at any level.
Anything under a field `internal` is ... internal and shouldn't be messed with by any SDK, similar to internal
packages in Go ( this should please Rodolfo).

[2021-03-25 14:25] jan-auer commented on #549
Putting them in objects would be challenging, but we can have an annotation that is parsed and rendered in documentation, up to the point that we hide it in some places.

[2021-03-26 09:52] RaduW commented on #549
Sure documenting it would help and would be easier that adding another sub-object any time you need some "private" fields. I still believe that serializing internal fields in an `internal` sub object would make it universally clear (whether you are looking at the structure definition, the structure usage, the serialized object or the documentation).

[2021-04-05 16:45] maximal opened #997 "DNS error in relay connecting to web on startup"
### Version Information

Version: **Sentry 21.4.0.dev0857295a**

### Steps to Reproduce

After an ordinary upgrade (`./install.sh`, which went totally fine) events stopped registering.

### Logs

latest install logs: `ls -1 sentry_install_log-*.txt | tail -1 | xargs cat`:
[code]

`docker-compose logs` have some records about the connection errors (`web:9000`) even though this container is running

[2021-04-05 21:47] tspearconquest opened #971 "Unable to secure the onpremise install"
### Environment
Dev

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)
On-premise 21.3.0

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0
N/A

### Steps to Reproduce

1. We are working to deploy Sentry 21.3.0 to our kubernetes infrastructure, and in the process of inspecting the deployment in pre-production, we found a number of default usernames a

[2021-04-06 09:08] untitaker commented on #971
This is a known issue. For context see https://github.com/getsentry/relay/pull/889. You can revert this PR to get a version of Relay that enables SSL on Linux.

[2021-04-06 09:35] tspearconquest commented on #971
Hello, I took a look at the commits. These seem to only address SSL, so would it be possible to have a build with librdkafka that has libsasl2 support? We don't require the SSL piece, and would prefer not to build Relay from source since we use the standard docker images for the rest of Sentry.

--
Thank you

Thomas Spear
Linux Security Engineer

[2021-04-06 09:41] untitaker commented on #971
I don't know in any case this would have to be a third-party effort as we ourselves don't use any of those things.

[2021-04-06 10:01] tspearconquest commented on #971
Hello, thank you for responding so fast.

I understand that you don't use the libsasl2 library, and so I'm asking if you could please ask if it will be possible to help us users out by enabling it for us?

The reason we use Sentry on premise is so that we can maximize the security of the software and prevention of unauthorized access to the components used by Sentry and so we need to have this ena

[2021-04-06 10:12] untitaker commented on #971
@tspearconquest the effort here is purely about dependency management, in enabling the feature in a way that doesn't require additional dependencies outside of docker (or otherwise doesn't disrupt dev workflow), and add the required dependencies to the docker image. we have gone through this exercise for the SSL feature in kafka which seemed easy on the surface but was causing all kinds of problem

[2021-04-06 10:15] tspearconquest commented on #971
Hello, yes I understand it well from #889 and hence I am simply requesting if you could take a look into whether the same will happen with this other library.

If it interferes your workflow, then we understand and agree we should make a fork in our own repo. However if it does not interfere with your existing workflow, we would really appreciate it if you could enable it for us! 🙂

[2021-04-06 10:32] untitaker commented on #971
I'll keep this open for now but I don't think I can get to this this week.

[2021-04-06 13:45] chadwhitacre commented on #997
Thanks @maximal, I believe we've heard reports of this misbehavior from others in the forums and discord, but I don't believe we have a GitHub issue yet so thanks for creating one. If I remember right it might be related to IPv4 vs. IPv6. Will have to dig deeper ...

[2021-04-06 14:03] maximal commented on #997
@chadwhitacre, the issue is gone after a couple of `sudo service docker restart`s (just `docker-compose restart`s won’t help). As I understand, there were some problems when binding the 9000 port inside the Docker’s network (or giving IP adresses to different containers).

If it helps, I have IPv6 and IPv4 addresses on this machine.

[2021-04-06 14:05] chadwhitacre commented on #997
Interesting, okay. So the problem is resolved for you?

[2021-04-06 14:06] maximal commented on #997
For me, yes it is. You can close the issue, if it is appropriate.

[2021-04-06 14:07] chadwhitacre commented on #997
Sounds good, thanks for documenting the workaround.

[2021-04-06 14:48] xtrme commented on #971
Hi, we are experiencing similar problems. We are using an external kafka installation and we need SSL support . Snuba already have SSL support in Kafka client.

[2021-04-06 15:09] tspearconquest commented on #971
Thanks @untitaker no rush. Really appreciate you taking a look at it.

[2021-04-09 07:23] maximal commented on #997
@chadwhitacre, seems like now it happens after every `./install.sh && docker-compose up -d` run.

[2021-04-09 08:19] BYK commented on #997
@maximal - can you try only restarting `relay`: `docker-compose restart relay`

[2021-04-09 08:39] maximal commented on #997
@BYK, `docker-compose restart relay` helps without restarting Docker service:

[code]

Thank you!

[2021-04-09 08:45] BYK commented on #997
Assigning this to @jan-auer as this is the Relay DNS caching issue we have already talked about. We are investigating the issue. Thanks a lot for reporting and your patience @maximal!

[2021-04-15 13:02] broken-ufa opened #976 "authentication encountered error: upstream request returned error 403 Forbidden caused by: Relay is not allowed to register"
### Environment

I using sentry on-premise 21.3.17 e5ca7e behind nginx reverse proxy with simple proxy_pass configuration
[code]

And trying to setup relay on different server.
[code]
[code]

### Steps to Reproduce
0. According to manual from page https://docs.sentry.io/product/relay/getting-started/
1.I generate init config: `docker run --rm -it -v $(pwd)/config/:/work/.relay/ getsentry/relay con

[2021-04-15 20:00] jan-auer commented on #976
By default, registering third-party Relays is not enabled. We can change this default now, in the meanwhile, you can add this to your `sentry.conf.py`:

[code]

[2021-04-20 16:11] kelvne commented on #997
I can confirm that @maximal steps works to solve this problem.

[2021-04-22 13:10] deissh opened #1015 "Release version with an unescaped string."
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

error when trying to open a release. also, when trying to delete via the API, it gives the answer that it was not found

![image](https://user-images.githubusercontent.com/21129524/115746569-1ad08c00-a39d-11eb-997d-980ce1e21e0e.png)

## Steps to Reproduce

1. create a new release
2. then you need to set the releas

[2021-04-22 19:07] BYK commented on #1015
Ping @getsentry/owners-releases-ui for triage. /cc @mitsuhiko @untitaker

[2021-04-22 19:09] untitaker commented on #1015
how are you creating the release?

[2021-04-22 19:29] deissh commented on #1015
sentry-cli

[2021-04-22 21:12] untitaker commented on #1015
Is this blocking you in any way when using the product or are you just trying to fuzz something? I have problems understanding why you'd want to create a release with a newline or quotation marks in it.

[2021-04-23 09:03] BYK commented on #1015
@untitaker I think they created this by accident:

We should still reject these kinds of values?

[2021-04-23 09:12] yayapao opened #983 "How to run the server after building the .zip or .whl package?"
Hi, i can't run the server after i have successfully built the package, and i don't konw how to do with it?

[2021-04-23 10:24] untitaker commented on #983
Please read the documentation to figure out how to start relay: https://docs.sentry.io/product/relay/getting-started/

The package is a dependency of Sentry that you should not have to worry about.

[2021-04-23 10:24] #983 closed, assigned to nobody

[2021-04-23 10:26] untitaker commented on #1015
Well I also don't understand why one would create a release with a properly escaped `\n`.

EDIT: Ah ok, seems like it was not intended to create any of that.

We'll have to pull out or port the logic from Relay to make sure we're using the same thing everywhere. You won't be able to create that kind of release via sending an event.

[2021-04-23 10:31] yayapao commented on #983
yeah, i have ran it at local service by "how to start relay", but i don't konw to run it from a package, like **py/dist/sentry-relay-0.8.5.zip**

[2021-04-23 10:32] untitaker commented on #983
You can't, that's not what the package is for. It's a Python library used by Sentry for various things, to share logic between Relay and Sentry. It's not a service.

[2021-04-23 10:39] yayapao commented on #983
So, that's mean i can develop the relay server in local with sentry, but i can't build it online as a server? or there has some way to do it?

[2021-04-23 10:41] untitaker commented on #983
I'm confused. Do you want to develop Relay or do you want to run it? Do you want to run Relay as part of a Sentry installation or in front of Sentry?

[2021-04-23 10:45] yayapao commented on #983
Actually, i want to run it in front of Sentry online, now i can run it locally, but i dont konw how to package it and run it online...

[2021-04-23 10:53] untitaker commented on #983
@Y-lonelY We give you the docker container and some [binary downloads](https://github.com/getsentry/relay/releases) but you have to figure out yourself how you get it to run on the server. Running either the docker image or the binary should work.

[2021-04-24 19:30] GOID1989 commented on #997
Same issue (21.4.1).
Fixed by adding 'web' to depends list of relay service.

[2021-04-25 08:39] yayapao commented on #983
Hi, i do as https://docs.sentry.io/product/relay/getting-started/, but i found some problem when i ran it

1. after i download a release package, ran `relay config init`, output `zsh: command not found: relay`
2. ran `cargo check --all --all-features`
[code]
3. ran `make setup`, output `/bin/bash: line 0: cd: .git/hooks: No such file or directory`

I really want to konw how can i deal with these,

[2021-04-25 17:16] jan-auer commented on #983
To run the executable, please follow these steps:

1. Open the [latest release](https://github.com/getsentry/relay/releases/latest) on GitHub.
2. Download the binary for your operating system, starting with `relay-`. For Linux this is `relay-Linux-x86_64`
3. Rename the downloaded file to "relay". In bash, that is `mv relay-Linux-x86_64 relay`
4. Choose a directory for storing Relay's configuration

[2021-04-26 08:23] BYK commented on #997
I think I'll implement @GOID1989's solution as a stop-gap for now.

[2021-05-03 14:26] sebastianzabel commented on #997
Sorry guys, didn't worked for me. After adding "web" to depends list, I'm still having this issue.
...

Switched to relay:nightly, worked for me

[2021-05-04 08:23] matejminar commented on #1015
@kamilogorek should we open an issue against https://github.com/getsentry/sentry-cli repo?

[2021-05-06 09:00] pierresebastien commented on #997
Hello,

I face the same issue regarding DNS resolution (I had also some error in the relay regarding kafka which was not initialized).
Environment:
[code]

I tried multiple workarounds :
- add web container as a dependency
- use the nightly version of relay
- disabling ipv6 and update the resolv.conf, see this [thread](https://forum.sentry.io/t/relay-errors-in-fresh-new-on-premise-install/9804/23)

[2021-05-06 11:03] BYK commented on #997
@pierresebastien thanks a lot for the great write-up and sharing your solution! Proper health checks are something we were considering but they weren't a priority.

Would you like to add these to the main code so everyone can benefit and we can get your name under the changes? (otherwise I'm planning to add these myself, just wanna give you proper credit :))

[2021-05-11 10:52] pierresebastien commented on #997
@BYK I just created the PR getsentry/onpremise#948.

I didn't include the service_healthy condition in dependencies because it is not supported in docker-compose 3 (even if it seems still working) and I prefer avoid putting "bad" practices in the main source code.

Unfortunately, this pull request won't fix this issue at all if someone else has a problem with web & kafka containers taking too much

[2021-05-11 12:45] kamilogorek commented on #1015
We could, but then it'd still be an issue for the API itself https://docs.sentry.io/api/releases/create-a-new-release-for-an-organization/ so when someone is using it directly, it'd fail even if sentry-cli would be fixed.

[2021-05-12 12:26] BlackWebWolf opened #995 "Allow usage of TLS for redis connection"
We are trying to make setup of relay secure, as a part of sentry kubernetes deployment.
And apart from Kafka ssl problems (seen in https://github.com/getsentry/relay/issues/971),
we are facing problems with connecting via tls to redis.
It should be simple change - https://github.com/getsentry/relay/blob/master/relay-redis/Cargo.toml#L15 should also include TLS (exactly  `features = ["tls"]`)
Do Yo

[2021-05-13 10:20] BYK commented on #997
This is something `relay` itself should handle. I think @jan-auer and the Relay team is on it but without a clear delivery date.

[2021-05-17 10:11] jan-auer commented on #997
I propose we move this issue to `gesentry/relay`, so we can track resolution there. We would have to look at a way of reliably reproducing the DNS failures (which we haven't on our development machines using the onpremise setup) first, then check the `trust-dns` resolver implementation for why it doesn't re-resolve. Another option would be to go back to the system resolver and manually write a cac

[2021-05-17 10:25] montanaflynn opened #996 "Add sentry environment to sentry config section"
We are using sentry relay in staging and production environments and would like to have one sentry project for both of them.

This could be done by adding an `environment` field to the sentry config section:

[code]

Then we could switch between environments with sentry website UI:

<img width="986" alt="Screen Shot 2021-05-17 at 17 25 06" src="https://user-images.githubusercontent.com/24260/11847

[2021-05-17 10:26] BYK commented on #997
@jan-auer I'm okay with either transferring this issue or creating a new one over at relay for better tracking. You are the owner so I'll leave the decision to you :)

[2021-05-17 10:27] untitaker commented on #996
Seems legit. Do you have time to prepare a PR for this? Would also expose release etc.

[2021-05-17 10:27] jan-auer commented on #996
This makes sense. Until we've added this, you can expose `SENTRY_ENVIRONMENT="production"` via env variables.

[2021-05-17 10:28] jan-auer commented on #996
@untitaker I would not expose release, this is set during the build of Relay and should not be overridable.

[2021-05-17 10:33] montanaflynn commented on #996
@untitaker Sorry, I don't have the time or enough knowledge of Rust to make a PR for this.

[2021-05-17 18:52] holophil opened #1001 "Relay stopped working with error unknown variant 'spanOperations', expected 'span_operations'`"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Relay 21.4.1 (via [dockerhub relay:latest](https://hub.docker.com/r/getsentry/relay/tags?page=1&ordering=last_updated&name=latest))

### Steps to Reproduce
Deploy relay 21.4.1 in managed mode.

### Expected Result
Relay executes without error logs.
Relay can fetch project states successfully (projectsconfig end

[2021-05-17 19:30] untitaker commented on #1001
Thanks and sorry, we're reverting the change at https://github.com/getsentry/sentry/pull/26082

[2021-05-17 19:34] holophil commented on #1001
Thank you for the fast response and action. :+1:

[2021-05-17 19:53] untitaker commented on #1001
Not closing until fix is deployed.

[2021-05-17 20:48] untitaker commented on #1001
We believe that the incident has been resolved. Let me know if it still occurs. Thanks and sorry again!

[2021-05-17 20:48] #1001 closed, assigned to nobody

[2021-05-18 21:51] bruno-garcia opened #1004 "Unity events: parse `contexts.os.raw_description`"
The API available to get the OS version on Unity returns a single string such as `Android OS 10 / API-29 (QKQ1.190716.003/2103022249)`. Is [this issue on the Unity SDK](https://github.com/getsentry/sentry-unity/issues/182) we agreed to send it as `raw_description`.

The Unity Lite SDK has been sending this as `os.name`. Could we add this parsing logic also in the event the `sdk.name=sentry.unity.l

[2021-05-19 06:56] jan-auer commented on #1004
@bruno-garcia can you help me with this and find a list of possible values and their structure?

[2021-05-29 10:41] fliespl opened #1014 "More verbose logging"
I think it would be a valuable addition to provide switch that will allow more verbose logging to console.

Info about received event about sending to sentry instance, about connection errors.

[2021-05-29 15:48] jan-auer commented on #1014
This switch exists with the `logging.level` configuration field. For full verbosity, set this in your `config.yml`:

[code]

There's more information on monitoring Relay [here](https://docs.sentry.io/product/relay/monitoring/) and the configuration [here](https://docs.sentry.io/product/relay/options/#logging).

[2021-05-29 19:55] fliespl commented on #1014
Omg... Thank you @jan-auer.

I was so obsessed looking for debug/verbose switch that I simply missed that one. Appreciate quick reply!

[2021-05-29 19:55] #1014 closed, assigned to nobody

[2021-05-31 11:32] ahmedetefy commented on #1015
Here are my findings on this so far:-
This is an issue on both the SDK side and the API side

**So for the SDK side,**
The issue here is that you can (atleast for Python and JS, these are the ones that I have tested) send sessions with incorrect release versions (with bad chars in the string) like the one above, and they will be stored in Snuba

In JS for example, we are only checking if release i

[2021-05-31 14:52] jan-auer commented on #1015
Agreed that this needs to be fixed in Relay, transferring.

[2021-05-31 14:54] jan-auer commented on #1015
Relay itself has multiple methods to check release names. I would suggest to consolidate all of those into `sentry-release-parser` and then reuse them in place of the existing `is_valid_release` method, as well as during session processing.

[2021-06-02 16:53] armenzg opened #1017 "Run integration tests against Sentry"

[2021-06-02 17:05] BYK commented on #1017
This is what we do for now: https://github.com/getsentry/relay/blob/1a28c1d9df7a8da5de1058f630829d79007475fb/cloudbuild.yaml#L56-L73

Pretty sure we can extend that.

[2021-06-17 17:51] nikhars commented on #915
@jan-auer - FYI, I tried with sentry-relay 0.8.7 for the snuba project and it worked for me with rustc version 1.52.1.

[2021-06-17 19:00] jetxr opened #1024 "Supporting tunnel option in Relay"
Currently [a script is needed](https://docs.sentry.io/platforms/javascript/troubleshooting/#using-the-tunnel-option) when using a tunnel option with the JS SDK.

Looks like the scripts POSTs the received data to `/envelope/` endpoint.

Is it possible to configure the tunnel directly in Relay? Or is the script needed with Relay as well?

[2021-06-17 19:08] jan-auer commented on #1024
Thanks, this is possible in principle, and we're considering to add an option for specifying a custom tunnel endpoint that Relay listens to in addition to the regular `/api/<id>/envelope/` endpoint. However, I would like to point out that you would currently have to host Relay on a separate domain, or put a proxy in front of Relay to route requests to that endpoint.

[2021-06-17 19:10] jan-auer commented on #915
Thanks! Going to close this then.

[2021-06-17 19:10] #915 closed, assigned to nobody

[2021-06-18 17:32] jetxr commented on #1024
That would be awesome!

Yep, will try and figure out setting up the script. The good thing with Relay is that it runs without any additional runtime, and this script will  need setting up PHP, etc.

[2021-06-18 18:37] jan-auer commented on #1024
We're in the process of updating and expanding our docs around that. You can add an equivalent script in any other language, or even add an endpoint to your existing server/API. As long as it forwards the entire request to Sentry's envelope endpoint (including your project ID), you should be good. If it's an option, you could even do that on your reverse-proxy or load balancer if you have one.

Ma

[2021-06-19 06:47] jetxr commented on #1024
I'm using it in Docker along with Traefik, like so:

[code]

I'm guessing it's possible to configure forwarding the whole request in [Traefik directly](https://doc.traefik.io/traefik/middlewares/redirectregex/). I'll try and test it..

[2021-06-21 17:45] jetxr commented on #1024
I tried doing this in Traefik, but I ran into a CSRF issue and couldn't resolve it.

Added the following lines to labels to handle the `/tunnel/{projectId}` to `/api/{projectId}/envelope` rewrite and to add CORS headers:

[code]

I'm however getting a 403 (CSRF Verification Failed) when I make a request to the tunnel. I've checked if the Referer header was being sent to the container, and it was b

[2021-06-21 22:56] jetxr commented on #1024
Looks like this could possibly be an issue in Relay itself.

I tried using `https://{hostname}/api/{project-id}/envelope` as the tunnel URL, and it had the same behavior (403 CSRF Verification Failed)

[2021-06-24 00:35] bruno-garcia commented on #1004
`Mac OS X 10.16.0` [Link](https://sentry.io/organizations/sentry-sdks/issues/2308319708/?project=5439417&statsPeriod=1h)
`iOS 14.6` [Link](https://sentry.io/organizations/sentry-sdks/issues/2314354823/?project=5439417&statsPeriod=1h)

I can give more examples but 'list of values' I'm not sure. Would it be enough we infer the format based on some examples for known platforms like desktop and mobile

[2021-07-06 10:29] bitsandfoxes commented on #1004
A couple of additional examples we have so far:
- Android
  - Android OS 10 / API-29 (QKQ1.191014.012/2010292059)
  - Android OS 11 / API-30 (RSR1.201211.001/7027799)

- Mac OS
  - Mac OS X 10.16.0

- Windows
  - Windows 10 (10.0.19042) 64bit
  - Windows 10 (10.0.17763) 64bit

- iOS
  - iOS 14.6

[2021-07-08 15:38] armenzg commented on #1017
Hi Burak, thanks for the pointer. I looked into it, however, I decided with Billy that it is preferable to follow a similar model as in the Sentry repo. The main reason is that it resembles a lot more to the testing set up that engineers are already familiar with rather than putting more work to make install.sh/test.sh the main testing method for engineers.

If you're interested I have a WIP in [h

[2021-07-20 05:56] hbokh opened #1044 "uWSGI coredumping"
### Version

21.6.1

### Steps to Reproduce

Not sure.
Maybe install getsentry/onpremise 21.6.1 and give it a good amount of load.
Wait for uWSGI to restart in it's daily cycle.

### Expected Result

No daily coredumps caused by uWSGI.

### Actual Result

We've been running Sentry 21.6.1 for almost a month now.
Last couple of days we started seeing coredumps showing up in our monitoring.
It's happ

[2021-07-20 12:49] chadwhitacre commented on #1044
Hmm ... 🤔 I'm pretty sure Relay has an underlying Rust library that is wrapped in Python. I found [this thread](https://users.rust-lang.org/t/invalid-opcode-segmentation-fault/32707/13) which gives some debugging advice ... basically need to compile with debug symbols and use gdb.

`onpremise` isn't designed for high volume, so if this is a bug that _only_ shows up when the system is overloaded th

[2021-07-20 14:56] hbokh commented on #1044
Unsure if the label "Needs More Information" applies to me. 😉

The node Sentry runs on, is a KVM enabled VM with 4 vCPUs and 12GB of RAM. More than the officially required specs.
FWIW Here's the graph from the events count over the last 24 hours, incl. the time of the last coredump yesterday at 17:35CEST

![Sentry_20210719-1735](https://user-images.githubusercontent.com/519955/126344375-3b39438c-6

[2021-07-20 15:09] chadwhitacre commented on #1044
Touché. 😛 The label is mostly for [accounting purposes](https://open.sentry.io/triage/#3-triage), fwiw. That said, we either need to debug one of the coredumps to whittle down the problem, or have @getsentry/owners-ingest tell us that they have some other hunch or debugging suggestions.

[2021-07-20 15:11] chadwhitacre commented on #1044
I can't promise it'll solve it, but even if it doesn't that's useful information.

[2021-07-20 15:31] hbokh commented on #1044
The upgrade is on our backlog, but I can't promise to get this done pretty quick at the moment.

[2021-07-20 17:42] untitaker commented on #1044
"invalid opcode" looks like it could be a bug in rustc/llvm or any random dependency we use.
without debug information we can't really tell what's going on here.

I don't believe there have been any relevant fixes between 21.6.1 and 21.7. If you want to check if recent Sentry fixes this, you do not need to upgrade Sentry, what you actually need to try this out is to upgrade sentry-relay PyPI depen

[2021-07-21 05:20] hbokh commented on #1044
Thanks for the input so far!
I'll have to look into posting a coredump, esp. when it contains Personally Identifiable Information. The reason we are not running SaaS is **privacy** related (we're a telecom company in the Netherlands).

In the meantime I found that **restarting Docker** yesterday at 09:50CEST also created 2 coredumps and identical stack trace information (official Docker, version 2

[2021-07-21 06:05] hbokh commented on #1044
One of my co-workers managed to get this from one of the coredump files, running on his local machine with the Docker image.

[code]

[code]

[2021-07-26 14:23] BYK commented on #1044
Upgrading to `21.6.3` _may_ fix the issue as I think we upgraded our rust toolchain in that version. So if this is a bug in Rust, it may go away. You'd need to upgrade to `21.6.3` anyway to be able to move on to `21.7.0+` as any `21.6.x` before `21.6.3` has a bug regarding migrations (sorry about this).

[2021-07-26 14:41] untitaker commented on #1044
all I can see is a panic during relay_err_clear, and a chain reaction of panics because we're trying to handle those panics

this could happen exclusively during process shutdown, not sure

[2021-07-26 14:42] BYK commented on #1044
Then could this be OOM-killer coming in and reaping the processes?

[2021-07-26 14:45] untitaker commented on #1044
op said just restarting those containers created coredumps so I don't think the restart itself is the problem per-se

[2021-07-27 14:50] armenzg opened #1048 "Using Git submodules prevents caching Docker layers"
CC: @BYK @RaduW @jan-auer @untitaker

In the Docker build process, the step that takes the longest to execute is the one that we cannot cache because we include `.git` in Docker's build context. The `.git` directory always changes every time we commit, however, the files that are processed as part of `make build-linux-release` (`cargo build --release --locked --features ${RELAY_FEATURES} --target=

[2021-07-28 11:59] BYK commented on #1048
Yeah, copying in all the files or definitely changing files like the `.git` directory into a container image is an anti-pattern. I think a better approach would be to adopt the `builder` pattern we have over at getsentry/sentry:

Build a `builder` image first with minimal to no changes across project revisions (unless dependencies change), mount the current working directory into the container ins

[2021-07-29 12:34] armenzg opened #1050 "Running Sentry integration tests should support testing against non-Docker Relay"
As part of the work in #1017 we discovered that we can only run integration tests against Relay within a Docker container.
Waiting on the Docker build to run Sentry integration tests takes a long time (over 10 minutes before we can run the tests).

Another benefit of this work is that Relay developers would be able to easily run Sentry integration tests against their local Relay changes or even te

[2021-07-29 13:16] #1017 closed, assigned to armenzg

[2021-07-29 19:20] armenzg opened #1052 "Make Sentry integration tests a required check"
This will prevent merging PRs that break integration tests with Sentry.
Please :)

[2021-07-29 23:01] bruno-garcia commented on #1004
One proposal to tackle this is:

If the SDK name if: `sentry.unity.lite` or `sentry.dotnet.unity`:
If there's no `os.version` or `os.raw_description` but there's `os.name`, then:
Parse `os.name` against a few regex's to extra name+version. If we match the regex then move `os.name` into `os.raw_description` and use the new `name` and `version`.

We need to discuss whether in newer versions of the S

[2021-07-30 10:51] untitaker commented on #1052
Yup, but can we wait a bit and see how it performs and if it's flaky or anything?

[2021-07-30 11:55] armenzg commented on #1052
Sounds good!

[2021-08-20 17:18] ChannyClaus commented on #879
just to be sure, this issue has been resolved and should not be happening anymore in recent images, right?

currently trying this with `getsentry/relay:21.7.0` and seeing the same exact issue.

[2021-08-20 17:25] ajacques commented on #879
It was fixed, but it caused a regression, so Sentry reverted this change in https://github.com/getsentry/relay/pull/889

[2021-08-24 14:32] lme-nca opened #1063 "Improve the default CREDITCARD_REGEX"
The current CREDITCARD_REGEX (https://github.com/getsentry/relay/blob/1bd6764397a9a251d31ee1bd1b68f49269d1b895/relay-general/src/pii/regexes.rs) provided by relay is quite outdated and only supports a small number of Credit cards.

For a good overview of the up-to-date numbers used by various schemes see: https://en.wikipedia.org/wiki/Payment_card_number (a good example here is the Mastercard sche

[2021-08-24 14:41] untitaker commented on #1063
Agreed, we're happy to merge patches and assist there. I think we can also run some tests on our own data to ensure the regex is not overly zealous.

[2021-08-31 14:54] bruno-garcia commented on #1004
This task now replaces the Unity repo issue: https://github.com/getsentry/sentry-unity/issues/41

[2021-09-01 09:26] jan-auer commented on #1004
This is being worked on now.

[2021-09-02 16:26] bruno-garcia commented on #1004
Done through: https://github.com/getsentry/relay/pull/1072
Thanks @RaduW

[2021-09-02 16:26] #1004 closed, assigned to RaduW

[2021-09-25 01:01] bruno-garcia opened #1088 "OS parsing issues for iOS, Android, Linux"
After iOS 15 update the raw_description sent is:

[code]

![image](https://user-images.githubusercontent.com/1633368/134752569-311000f8-ec37-46fd-813f-ae20d31b2859.png)

And Android: ([issue](https://sentry.io/organizations/sentry-sdks/issues/2671354296/?project=5439417&query=is%3Aunresolved))

`Android OS 4.4.2 / API-19 (KOT49H/A536_S186_150813_ROW)`

Doesn't seem to get parsed by relay

Ubuntu e

[2021-09-30 10:30] k0t3n opened #1094 ".yaml support"
Please add `config.yaml` besides `config.yml` to config recognition and other YAML files. This is gonna save hundreds of hours debugging.

[2021-09-30 15:39] drook opened #1095 "error processing envelope: could not schedule project fetch caused by: Mailbox has closed"
### Environment
Sentry 21.6.3
Relay 21.6.3
Snuba 21.6.3

Issue:
-----
After certain load treshold relay is failing to a state that it's not able to recover from, until restarted (by the way the exact same behavior is there at least from 20.8.0):

===Cut===
[...]
Sep 29 06:25:52 jsentry relay[62139]: 2021-09-29T06:25:52Z [relay_server::actors::upstream] INFO: relay successfully registered with upst

[2021-09-30 15:54] untitaker commented on #1095
Once there's a panic the mailbox is closed, and we appear to panic in a debug_assert in datascrubbing/pii.

We have a backlog item for the debug assertion at https://getsentry.atlassian.net/browse/INGEST-109, but: You are running a debug-build of relay. This is very unlikely to lead to acceptable performance. I assume you compiled relay yourself to obtain such a build, please run `cargo build --re

[2021-09-30 15:55] drook commented on #1095
Thanks a lot, will try it.

[2021-09-30 17:18] BYK commented on #1094
This should be easy to submit a PR for, would you be interested?

[2021-09-30 17:26] untitaker commented on #1094
If both files exist, which is preferred?

[2021-09-30 22:24] drook commented on #1095
Well, results are disappointing:
`cargo build --all-features` produces an unstripped binary of 90 megs and it's reliable.
`cargo build --all-features --release` or, `cargo build --release --features=ssl,processing`, like in Dockerfile/Makefile,  produces an unstripped binary of 430 megs and... yeah, it's able to start but it doesn't process events at all, complaining in logs almost about everythin

[2021-10-01 04:57] k0t3n commented on #1094
@untitaker I think that in this case an error should be raised, but have not looked at the code yet.
@BYK ok, I'll try to see what I can do with it this weekend.

UPD: sorry guys, no way to dig into Rust in the near future :(

[2021-10-01 07:42] jjbayer commented on #1095
@drook Do you know what event was sent to relay that caused the `'assertion failed: replacement_chunks.is_empty()'`? If so, could you share the event JSON payload with us?

[2021-10-01 21:14] drook opened #1096 "relay fails to register with sentry: connection closed before message completed"
### Environment
Sentry on premises, containerless.
Sentry/Relay/Snuba: 21.9.0

Config:
[code]

### Steps to Reproduce
Launch sentry/relay/snuba stuff.

### Expected Result
Expect the events to start flowing.

### Actual Result
Events aren't flowing. Relay complains in logs about inability to register on sentry that looks like a race condition.
Saw this behavior first time on the 21.6.3. Then after

[2021-10-02 01:32] drook commented on #1095
Unfortunately, no. In case I will get this on 21.8.x or recenter versions, could you please point me in direction of how can I pin down this event to report it here ?

[2021-10-02 01:38] drook commented on #1096
Workaround: kickstart the relay in shell cycle until the **_INFO: relay successfully registered_** will appear in the log.

[2021-10-02 12:17] drook opened #1097 "after DB outage or long kafka/DB desync where's no way to tell that Kafka queues needs to be flushed"
### Environment
SentryRelay/Snuba 21.8.0, dedockerized, self-hosted.

### Steps to Reproduce
Install relay. Configure it, start to flow events from applications. Get relay or database down for some time, or get DB and Kafka state descync with some other method (say, components are to slow to consume kafka queues).
Then restore missing functionality or performance of components.

Reproducible at le

[2021-10-02 15:55] drook opened #1098 "relay shouldn't return HTTP 200 OK to POS requests when it's not registered on a sentry"
### Environment
Relay 21.8.0
on-premises setup.
multiple relays pointing to one sentry/snuba.

Relay has 2 OOB healthcheck URLs:

- /api/relay/healthcheck/live/ - generally a redundant one. reverse-rpxy could detect if a particular relay is down in a pool merely if it's now answering.
- /api/relay/healthcheck/ready/ - decent one, but OOB only.

The thing is, when relay is not registered on sentry,

[2021-10-03 05:57] drook commented on #1096
Well, after some consideration, looks like the connection is closed indeed from the sentry side right after **POST /api/0/relays/register/response/**, no answer transmitted at all. Looks more like a sentry issue.

[2021-10-03 06:37] drook commented on #1096
For some reason, sentry doesn't even log the POST requests to **/api/0/relays/register/response/**, while it's definitely receiving them (sentry log from another startup sequence, while relay is trying to register - also attached the tcpdump capture):

[code]

[tcpdump register capture - register.zip](https://github.com/getsentry/relay/files/7272823/register.zip)

[2021-10-04 07:40] jan-auer commented on #1094
Thanks for the update. We'll happily accept a PR for this in the future.

In the meanwhile, please use `.yml` as the documentation states.

[2021-10-04 11:38] jjbayer commented on #1095
@drook The only way I can think of is logging the entire `state` here:
https://github.com/getsentry/relay/blob/29176f8106a46d68e34cd1e7005ffca92f27b0cb/relay-server/src/actors/envelopes.rs#L1535
Be aware that you might be logging sensitive user data.

We will fix this bug for debug builds. Please run a release build in the mean time (I see you already opened a follow-up issue in https://github.com

[2021-10-04 12:01] jjbayer commented on #1098
@drook I believe this should only happen when `relay.ready: always` is set in the configuration (default is "authenticated"), could you check your config for that flag?

See also https://github.com/getsentry/relay/pull/989.

[2021-10-04 13:22] jjbayer commented on #1097
@drook could you narrow this down to one specific scenario? Not sure if this problem can be fixed in Relay though. How would Relay know that Kafka topics are not being consumed? Or what information would you like to appear in Relay logs, specifically?

[2021-10-04 14:10] jjbayer commented on #1096
@drook As you already pointed out, this is probably not a Relay issue, so could you re-post in https://forum.sentry.io/c/on-premise/7?

In general, this issue looks like it might be unique to your dedockerized setup. We recommend using the official [onpremise](https://github.com/getsentry/onpremise) setup.

[2021-10-04 15:34] BYK commented on #1097
@drook it is not clear what your ask is here. Do you want more documentation? Do you need something else?

I mean, that's part of the deal with self-hosted?

[2021-10-04 19:00] #1097 closed, assigned to nobody

[2021-10-04 19:01] #1096 closed, assigned to nobody

[2021-10-04 19:03] drook commented on #1098
Actually it's on its default:

[code]

[2021-10-06 09:55] jjbayer commented on #1098
Interesting. With default config, in a non-registered state, `/api/relay/healthcheck/live/` should return 200, but `/api/relay/healthcheck/ready/` should respond with 503.

@drook can you provide steps to reproduce and the corresponding relay log output?

[2021-10-20 23:21] maanur opened #1102 "Symbolic links are not loaded as projects"
### Environment
Sentry SaaS (sentry.io)
Relay is running on OpenShift 4.7.31 with the image:
docker.io/getsentry/relay@sha256:d6d471ec789dd046d9807fca03bfa9b94b8d0ccb67ce85fed1668c8de4de5630

### Steps to Reproduce

1. Create new config with "static" mode, add <project_id>.json to project directory.
2. Wrap `config.yaml` and `projects` directory to ConfigMaps.
3. Mount them with the following depl

[2021-10-21 09:56] RaduW commented on #1102
Thank you for raising this issue, we are looking into it.

[2021-10-21 18:41] getsentry-release commented on #1811
Routing to @getsentry/owners-ingest for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-10-28 13:15] untitaker commented on #1811
@bartbutler what do you see in sentry that makes it appear rejected?

[2021-10-28 13:48] bartbutler commented on #1811
The ingestion fails with a non-200 response code, because the security report API does not allow any extra fields besides those it whitelists.

[2021-10-28 14:03] untitaker commented on #1811
I see, this is definetly not intended. Accepting as bug.

[2021-10-28 14:05] bartbutler commented on #1811
Thank you!

[2021-11-03 15:48] untitaker commented on #997
Folks, is this still an issue to anybody?

@BYK mentioned in an internal JIRA ticket that https://github.com/getsentry/onpremise/pull/1057 ought to have fixed this entirely.

[2021-11-04 13:34] lemrouch commented on #1044
Hi,
I think the problem is still present in onpremise Sentry version `21.10.0`:
_dmesg -T_:
[code]

[2021-11-14 23:44] elliotcourant commented on #1102
I have a terrible way of getting around this as a stop gap; I did not want our logs being filled up with these messages so I approached it like this:

[code]

The downside to this is that if relay was able to recognize configmap changes without restarting (see that the file changed) this will break that behavior (configmap changes now require rolling the pod). But it does silence the warnings.

No

[2021-11-25 11:33] futureweb opened #1137 "RHEL/Centos 7 compatibility"
Unfortunately it's not possible to run the relay Binary on Centos 7 Servers.

[code]

Also building the Sources manually won't work seamless:

[code]

It would really be great if there would be a RHEL/Centos 7 compatible Version.

[2021-11-25 12:28] vinaysarode opened #1138 "Need help with configuring relay sentry setup with proxy"
I want to connect relay to sentry.io via proxy service/application.
Please help me in this I am not able to find any way to put proxy between relay and sentry.

Config.yml
relay:
mode: managed
upstream: “https://sentry.io/”
host: 0.0.0.0
port: 3000
tls_port: ~
tls_identity_path: ~
tls_identity_password: ~

Where I have to set the proxy in relay?

[2021-11-29 09:30] ahmedetefy commented on #1137
Hello @futureweb,
Have you tried running the docker container on CENTOS7?

[2021-11-29 12:51] untitaker commented on #1138
you need to configure the `https_proxy` variable to intercept SSL connections: https://stackoverflow.com/questions/58559109/difference-between-http-proxy-and-https-proxy/61248144

[2021-11-29 14:20] futureweb commented on #1137
Hi @ahmedetefy,
in this case Docker unfortunately is not possible - we need it running on a High Performance SAAS Node (Virtuozzo Container) to be sure the Latency is as low as possible. (Same Host as SAAS CMS)
Also to be sure we have no blocking of the Websites when the Sentry Server is down/not reachable (upate, network troubles, other problems, ...) as the PHP Implementation is unfortunately BL

[2021-11-30 10:43] ahmedetefy commented on #1137
Hi @futureweb
so we don't support centos 7 officially yet (we are considering adding centos 7 support) but one way you can unblock yourself is to compile it yourself

You can check out relay from git, run `make release` (after updating submodules) which will give you a relay binary in `target/release/relay`

[2021-11-30 13:08] futureweb commented on #1137
already tried compiling myself - but unfortunately I'm running into lot's of Errors while compiling - once one is fixed the next is around the corner ... :-/

already fixed some dependencies Errors the last time, tried again now - next Errors ... :-/

[code]

[code]

Would be great if Centos 7 / RHEL 7 would be added to your supported OS - as it's still very wide spread expecially in the Web-Hosti

[2021-11-30 13:20] futureweb commented on #1137
This Error fixed with

[code]

Next Error:

[code]

[2021-11-30 13:28] futureweb commented on #1137
again fixed with:

[code]

Next Error:

[code]

Feeling a bit like Don Quijote ... 😅

[2021-11-30 14:03] untitaker commented on #1137
do you need this for relay on your own self-hosted install, or relay in front of sentry.io? you can use `cargo build --release`, i.e. build without breakpad for the latter

[2021-11-30 14:06] futureweb commented on #1137
in front of self hosted sentry instance

[2021-12-01 09:08] mitsuhiko commented on #1137
The issue you're running in is definitely `--all-features`. This turns on functionality you do not need.

[2021-12-01 09:35] futureweb commented on #1137
I did follow the Building and Running Section in the Relay Readme --> https://github.com/getsentry/relay#building-and-running

What would be the minimal Feature Set for a running Relay Instance for Self Hostes Sentry?

[2021-12-01 12:01] untitaker commented on #1137
can you try `cargo build --features processing` instead?

[2021-12-07 21:34] SiddChugh opened #1810 "Sentry is not accepting CSP reports sent by browser"
### Environment

SaaS (https://sentry.io/)

### Version

Sentry 8.22.0

### Steps to Reproduce

- Use [django-csp](https://github.com/mozilla/django-csp) package to write content security policies.
- Use `CSP_REPORT_URI` setting to redirect the reports to the sentry api mentioned in url `/settings/csp/`
- Fire up local dev server and navigate to url which has a csp violation.
- Confirm using `deve

[2021-12-07 22:54] getsentry-release commented on #1810
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-08 16:30] AbhiPrasad commented on #1810
Hey, thanks for writing in! As per our docs in: https://docs.sentry.io/product/security-policy-reporting/

I noticed both your `connect-src` and `default-src` were `self`, does this error still occur when you change to a sentry domain?

[2021-12-08 17:25] SiddChugh commented on #1810
@AbhiPrasad
My `connect-src` directive has `sentry.io` present.

[2021-12-09 00:32] AbhiPrasad commented on #1810
Ah I think this might be because sentry rejects reports coming from localhost.

You can see the logic here: https://github.com/getsentry/relay/blob/1bd6764397a9a251d31ee1bd1b68f49269d1b895/relay-filter/src/csp.rs#L385

Will loop in our ingest team to see if they have any thoughts.

[2021-12-09 00:32] getsentry-release commented on #1810
Routing to @getsentry/owners-ingest for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-13 10:53] priscilawebdev commented on #1810
Thanks for reporting this issue @SiddChugh we've added it to our team backlog

[2021-12-15 10:28] #1088 closed, assigned to nobody

[2021-12-16 06:40] SiddChugh commented on #1810
@AbhiPrasad
I understand `localhost` is a disallowed source so I used `ngrok` to create a tunnel to a public URL. Some flagged requests were indeed relayed to sentry such as invalid s3 requests, but some requests were still rejected. For example, loading of`hotjar` script was flagged by our CSP policy and it should have been relayed to sentry but instead a `403` was thrown.

### Response headers
!

[2021-12-18 07:52] relaxolotl opened #1160 "Default value for `protocol::Level` contradicts docs"
According to the [docs on event payloads](https://develop.sentry.dev/sdk/event-payloads/#optional-attributes), the default value for an event's level is `error`. I could be misinterpreting the intended target of these documents, but it looks like the default value used by relay is `info`, which directly contradicts that:

https://github.com/getsentry/relay/blob/754266b5a50ac495fbc3c2ba89d9c14c45bf

[2021-12-20 09:19] untitaker commented on #1160
Those are two action items for the ingest team before we can have a discussion about desired behavior:

* Investigate whether we even *can* remove level from transaction schema without de-facto breakage.
* The `Default` impl likely has no correlation with what we actually set as default during event processing -- maybe just remove `Default` to avoid confusion, or make actual use of it.

[2021-12-20 09:21] untitaker commented on #1160
For employees, see https://getsentry.atlassian.net/browse/INGEST-796

[2021-12-20 13:09] jan-auer commented on #1160
Do we even have to remove it from schema, or would it be enough if we remove it during normalization?

The default was actually intended to be the default level for "default" events, that is, plain message events. Error events override this default as error. However, now normalization does something completely different.

https://github.com/getsentry/relay/blob/bc6914f7da9ec2e5764414c0a18ec618f5f6

[2021-12-20 18:55] chadwhitacre commented on #1137
Applying Needs More Info based on conversation. Lmk if not appropriate.

[2021-12-21 10:16] futureweb commented on #1137
with this Flag it's working.

I would suggest adapting the instructions a little. Or to give more information which flags are at least necessary to compile a functioning relay server.
https://github.com/getsentry/relay#building-and-running was unfortunately not particularly informative here.

Would also include the corresponding GIT part in the Manual - with the first 2 compile attempts I overlook

[2021-12-23 13:40] fadeinflames opened #1162 "relay ERROR: error processing envelope: failed to resolve project information caused by: failed to fetch project state from upstream"
there is a problem with setting up the sentry relay on a separate server
log:
[code]

my compose:
[code]

what could be the reason for this error? exactly the same relay standing on the same server as the web - works fine

[2021-12-23 14:37] jan-auer commented on #1162
Are you setting up Relay as part of a Sentry setup similar to ~https://github.com/getsentry/single-tenant~ https://github.com/getsentry/self-hosted (processing mode) or would you like to put it in front of a Sentry installation (managed mode)? The configuration you supplied suggests that you are setting up a Sentry processing Relay, but at the same time you have a HTTPS upstream which suggests man

[2021-12-23 16:57] fadeinflames commented on #1162
@jan-auer ty for the answer
I want to set up a sentry relay on another server, as a proxy, to send events to sentry on-premise
with the ability to limit the number of events
btw - ur link - 404

[2021-12-24 08:43] emilien-puget opened #1557 "sdk should send request data as a structured format if possible"
## Expected Behavior
GO SDK should  send request payload as a json if the request has the right content-type

https://develop.sentry.dev/sdk/event-payloads/request/#examples, as per the doc

right now the SDK is sending data as a string no matter if the actual content can be a structured data, which lead to the scrubbing to remove everything.

## Screenshots
![before](https://user-images.githubuse

[2021-12-24 08:43] emilien-puget commented on #1557
PR for this can be found here https://github.com/getsentry/sentry-go/pull/403

[2022-01-07 10:36] priscilawebdev commented on #1162
Thanks for opening this issue @fadeinflames

The link provided by Jan is indeed broken, but perhaps this document can help you https://docs.sentry.io/product/relay/modes/

Anyway, we've added this issue to our backlog and we'll check it out soon.

[2022-01-10 08:54] jan-auer commented on #1162
Fixed, it should go to https://github.com/getsentry/self-hosted.

Please have a look at the instructions at https://docs.sentry.io/product/relay/getting-started/#initializing-configuration. You are providing `processing` configuration, which is not valid for your use case. If you remove it, Relay will be able to connect to Sentry.

This is important, too. In "managed" mode, you need to add your Re

[2022-01-10 11:45] fadeinflames commented on #1162
@jan-auer
okay, sorry, I incorrectly expressed
the task - I have a sentry-selfhosted on server in DC-1 (dc - datacenter)
and I want to put a relay in DC-2 so that requests go to her, and she transmits them to the selfhosted center
according to this scheme, it does not work
what am I doing wrong? it seems to me or the relay should be on the same server with sentry and there is no other way?

[2022-01-11 00:38] SiddChugh commented on #1810
@priscilawebdev @AbhiPrasad
Any updates?

[2022-01-12 12:08] rhcarvalho commented on #1557
Hi @emilien-puget. Thanks for the report/PR.

I talked about this with the team and learned that our ingestion pipeline / data scrubbing system already tries to parse JSON bodies before filtering. What could be happening to lead to the full body being filtered as in your screenshot is in the case of the request body being too large and being truncated by the SDK before sending (or, less likely, by

[2022-01-12 12:53] emilien-puget commented on #1557
hi @rhcarvalho thanks for the reply

Here is an example of the body completely filtered https://sentry.io/organizations/splio_test/performance/http-go-playground:846fb51c977843ee933796ff2ebbbd8f/
You can see the result of the linked PR in this event https://sentry.io/organizations/splio_test/performance/http-go-playground:39cc49b905984cbc85145489e3e7b55d/

[2022-01-12 13:47] rhcarvalho commented on #1557
Thanks, that helps. Clearly it's a small body and no truncation should be happening.

[2022-01-12 13:54] untitaker commented on #1557
~@emilien-puget in the broken transaction there's an associated error event that makes it seem as if JSON parsing failed in your app code as well. so i am not sure what behavior you want from sentry here. this data is sensitive, and also invalid json.~

<details><summary>screenshots of UI</summary>

<img width="735" alt="Screenshot 2022-01-12 at 14 54 42" src="https://user-images.githubusercontent

[2022-01-12 13:58] untitaker commented on #1557
oh disregard previous comment, i misread that you already tested with a patched SDK. is that a test application and can you be sure that the request is actually the same? if so we'll investigate internally why relay doesn't parse this json, but we would need to know the exact payload the _unpatched_ sdk sends. for all we know there could be differences in Go's JSON parser vs the one we use on the

[2022-01-12 13:58] emilien-puget commented on #1557
@untitaker the error is a dummy error not related to the json,  you can see on the third screenshot that "post failed" is not related to a json decode, please look at the the second event with the modified SDK

[2022-01-12 14:40] emilien-puget commented on #1557
i managed to intercept this, https://gist.github.com/emilien-puget/8d37fe5094992f7d6cef7b5c0b5c00b1 unfortunately, i cannot check the event on sentry side because my organization account has reached the limit of transactions sent

[2022-01-12 14:42] untitaker commented on #1557
Thank you, i will create a ticket for this so we (server team) can start looking into this case, but no ETA.

[2022-01-12 14:45] emilien-puget commented on #1557
i got the payload of the modified SDK as well https://gist.github.com/emilien-puget/87d6a150506a5cc870ee25b64c1a5182

[2022-01-17 17:08] rhcarvalho commented on #1557
@untitaker where could we track the server-side of this issue? Shall we open a new issue in another repo? IIUC the expectation is that data scrubbing should work such that it will parse JSON and operate on inner fields even if the SDK sends the body as a string, could you confirm that?

In the meantime, I'm working on an opt-in and backwards-compatible patch to replace getsentry/sentry-go#403.

[2022-01-17 19:10] untitaker commented on #1557
hi, sorry. we _are_ tracking this server-side in JIRA. consider this issue assigned to ingest team. you can also transfer it to relay if you want.

[2022-01-18 14:43] aminvakil opened #1169 "Initialize broken using docker-compose 2.2.3"
### Environment

How do you use Sentry?
self-hosted/on-premise (nightly)

Which SDK and version?
Irrelevant

### Steps to Reproduce

1. Trying to Bump docker-compose 2.2.3 on sentry self-hosted repository
More info can be found on the PR itself:
https://github.com/getsentry/self-hosted/pull/1251

### Expected Result

Tests pass.

### Actual Result

I think somehow relay is not picking up credentia

[2022-01-18 14:47] aminvakil commented on #1169
Please note that I have tested with other docker-compose versions (2.0.1, 2.1.1, 2.2.1, 2.2.2) as well and this only happens with 2.2.3 :eyes:
https://github.com/getsentry/self-hosted/pull/1251#issuecomment-1015357276

[2022-01-18 16:43] untitaker commented on #1169
Relay does not interface with docker-compose at all. This is categorically an issue with self-hosted, and should be handled there (seems like it already is)

Checking burak's comment, if there are issues with relay's CLI that make it hard/fragile to produce valid YAML, or if there's something wrong with Relay's Dockerfile, it makes sense to open an issue here. Not sooner.

[2022-01-18 16:43] #1169 closed, assigned to nobody

[2022-01-21 08:43] jan-auer commented on #1162
Understood, thanks for the clarification. In that case, you'll want to configure the Relay running in DC-2 without the entire `processing` configuration object. Your `relay.yml` file should roughly look like this:

[code]

NB, in a production environment, I'd strongly suggest switching to `info` log level.

[2022-01-25 12:20] bruno-garcia opened #1171 "raw_description parses version as kernel_version"
[code]

[2022-01-27 14:23] laurenz-glueck opened #1172 "Running Sentry Relay on kubernetes - ERROR: bind to interface failed"
I'm currently trying to setup a Sentry Relay in our kubernetes cluster.

I want to use the relay in `proxy` mode for Sentry SaaS (sentry.io) and have created a small helm chart for that.

When I now deploy the chart, I get this error during the container start:
`ERROR: bind to interface failed caused by: Permission denied (os error 13)`

![Screenshot 2022-01-27 at 15 15 37](https://user-images.git

[2022-01-27 14:42] untitaker commented on #1172
relay doesn't have permissions to bind to a port. can you reproduce this with another program such as netcat? can you attempt running relay as root, to see if it's actually a permission error?

note that linux doesn't allow you to bind to e.g. port 80 as non-root -- though that discussion is out of scope for this repo, sorry

[2022-01-27 14:47] laurenz-glueck commented on #1172
Thanks for your fast reply and the hint with the port!

It actually was just a issue with the port 80 - I changed it to 3000 and now it works...

[2022-01-27 14:47] #1172 closed, assigned to nobody

[2022-01-27 18:31] fadeinflames commented on #1162
@jan-auer ty
and in this mode, the relay will be able to limit the number of events? it seems that in this mode she skips them all and the limits in the projects do not work

[2022-01-28 08:56] laurenz-glueck opened #1173 "Documentation for data scrubbing in static and proxy mode"
Currently there is no documentation about how to configure data scrubbing when you run the relay in `static` or `proxy` mode.

Therefore the only way to do data scrubbing on a relay is by using the `managed` mode which is only available in Sentry SaaS Business and Enterprise plan.

I was already in contact with the SaaS support and they told me that it is in general possible to do data scrubbing i

[2022-01-31 09:25] jjbayer commented on #1173
@laurenz-glueck there's no plan to add data scubbing to Relay's _product_ documentation any time soon, because the format is still subject to change. That said, it is not impossible to configure it, so if you want to experiment with it, here's some pointers:
https://docs.sentry.io/product/relay/projects/
https://getsentry.github.io/relay/relay_general/pii/struct.DataScrubbingConfig.html
https://gi

[2022-01-31 09:34] laurenz-glueck commented on #1173
@jjbayer Thanks for your response! And also the informations regarding the documentation. I was in contact with Rodolfo from the support team. Unfortunately he did not mention that the format is subject to change and that this is the reason why there is no documentation yet...

I have already looked into the code and tried something like this:
[code]

But now I'm a bit confused as you call the key

[2022-01-31 12:16] jjbayer commented on #1173
Camel case is the correct format in JSON. See this line: https://github.com/getsentry/relay/blob/1215d198236f942842861a434c930f4d5b5bb935/relay-general/src/pii/legacy.rs#L20

[2022-01-31 16:25] laurenz-glueck commented on #1173
I have just tested it with camel case and it seems to work well 👍🏼

Thanks for your help :)

[2022-01-31 16:25] #1173 closed, assigned to nobody

[2022-01-31 16:46] jjbayer commented on #1173
Perfect!

[2022-02-09 09:05] davidjmemmett opened #1809 "CORS errors with Chrome 98"
### Environment

self-hosted (https://develop.sentry.dev/self-hosted/)

### Version

22.1.0

### Steps to Reproduce

1. Navigate to a web application using the JS integration.
2. Note the requests being attempted

### Expected Result

Both POST & preflight request suceed.

### Actual Result

Preflight request fails with a HTTP 400 (Bad Request), however POST request still completes:
![Screenshot f

[2022-02-09 09:49] davidjmemmett commented on #1809
I exported the failing OPTIONS request as a `curl` command and ran it, getting more output. The request is failing with:
[code]
Adding `-H 'Access-Control-Request-Headers: Origin, X-Requested-With, Content-Type, Accept, Authorization'` to the cURL request allowed the OPTIONS request to succeed.

We're going to try updating the Sentry JS library that we're using and seeing if this helps.

[2022-02-09 09:52] davidjmemmett commented on #1809
Further to this, it appears to be a behavioural change in Chrome. The requests succeed in Chrome when accessing Sentry over the public internet. The preflight requests are only sent when Sentry is accessed from a LAN (private) subnet.

[2022-02-09 10:05] davidjmemmett commented on #1809
Does this issue now belong in https://github.com/getsentry/sentry-javascript instead?

[2022-02-09 10:16] davidjmemmett commented on #1809
For reference, please see https://developer.chrome.com/blog/private-network-access-preflight/

[2022-02-15 13:28] #1095 closed, assigned to nobody

[2022-02-17 15:03] lucas-zimerman opened #1183 "Support User-Agent Client Hints"
- [x] Review the documentation: https://docs.sentry.io/
- [x] Search for existing issues: https://github.com/getsentry/sentry-javascript/issues
- [x] Use the latest release: https://github.com/getsentry/sentry-javascript/releases
- [x] Provide a link to the affected event from your Sentry account

## Package + Version

- [X] `@sentry/browser`
- [ ] `@sentry/node`
- [ ] `raven-js`
- [ ] `raven-node

[2022-02-17 15:27] AbhiPrasad commented on #1183
This is being grabbed from the user-agent, and relay actually populates the browser value based on the user-agent of the client that sent the event.

`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36 Edg/98.0.1108.55`

Interesting - it seems like Windows team made it so that user agents are frozen on Windows 10, and you need to use

[2022-02-18 15:48] ErrorPro commented on #1096
@drook Hey, wondering if you sorted this issue out? Having the same one.

[2022-02-19 17:42] drook commented on #1096
Nope, still using the kickstart script. Apart from that issue, working just fine.

[2022-02-22 04:48] andre-dsm-poly opened #1190 "Cannot determine network/auth issue from error message"

[2022-02-22 05:29] #1190 closed, assigned to nobody

[2022-02-23 00:56] andre-dsm-poly opened #1193 "Issue when running sentry relay behind a corporate firewall"
### Environment

I have sentry-rely setup in a docker container (using getsentry/relay:latest) behind a nginx reverse proxy running on an on-premise server at a client site. This server sits behind a firewall on which the client uses TLS interception, so an amended root certificate has been provided by them.

### Steps to Reproduce

So, reproducing this is going to hard as to do as the issue only

[2022-02-23 07:46] jan-auer commented on #1193
The `native-tls` crate used inside will use the system's trust root by default, such as the ones provided by the `ca-certificates` package on Debian/Ubuntu. Is there a way you could put that certificate there?

[2022-02-23 23:33] andre-dsm-poly commented on #1193
Great suggestion. This worked... tyvm. <3

[2022-02-23 23:33] #1193 closed, assigned to nobody

[2022-03-03 21:08] SimonCropp opened #1201 "Windows `10.0.22000` and higher should be treated as windows 11"
[Raised in sentry .net](https://github.com/getsentry/sentry-dotnet/issues/1484)

Adding it here so we can track the upstream

https://en.wikipedia.org/wiki/Windows_11_version_history#Version_21H2

[2022-03-04 14:11] AbhiPrasad commented on #1201
This is possibly blocked by https://github.com/getsentry/relay/issues/1183

[2022-03-04 14:35] untitaker commented on #1201
@bruno-garcia or @SimonCropp  please add a clear repro case that ingest team can work with, I assume this is about raw_description?

@AbhiPrasad I believe dotnet sdk does not send user-agents, but rather some uname-like identifier so I believe while the issue is related we will end up with dedicated solutions

[2022-03-08 22:46] SimonCropp commented on #1201
@bruno-garcia

i am not really sure what extra info is required here. can u help out

[2022-03-09 14:22] untitaker commented on #1201
An event payload that is parsed/extended in the wrong way will do!

[2022-03-10 09:35] hbokh commented on #1044
We are heading towards Sentry 22.2.0. It seems the issue is still there:

[code]

[code]

[2022-03-10 11:33] jan-auer commented on #1044
Could someone share a little more information on what happens before those crashes, through logs? Is there any configuration that you have changed as part of the setup?

Like @untitaker explained, this error is most likely happening during application teardown or when unloading/reloading the librelay wheel. It occurs because a thread local is accessed during or after destruction.

[2022-03-10 19:39] bruno-garcia commented on #1201
Specifically, we're talking about `      "raw_description": "Microsoft Windows 10.0.22000",`

Example event: https://sentry.io/organizations/sentry-sdks/issues/2864239279/events/d7ed5a8e195645758eafe689f185c4e0/?project=5428537&statsPeriod=90d

[code]

[2022-03-10 21:18] untitaker commented on #1201
Thanks bruno that's what we're looking for. We don't want to run Windows machines ourselves :)

[2022-03-11 08:52] jan-auer commented on #1201
~Fixes https://github.com/getsentry/sentry-dotnet/issues/1484~

We'll also change the SDK so that events on older self-hosted instances from newer SDKs also shows Windows 11

[2022-03-19 23:40] ciriousjoker opened #1808 "captureException additional data displays [Filtered] even when whitelisted"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/angular

[2022-03-29 20:00] lobsterkatie commented on #1808
Hi, @ciriousjoker.

Sorry you're having trouble! This is more of an ingest question, so I'll refer this to them for a surer answer, but I believe the reason that's getting scrubbed is that it contains the substring `"auth"`.

@untitaker, is there a way of circumventing this?

[2022-03-30 22:07] bruno-garcia opened #1297 "Map Android model to product name"
### Problem Statement

For reference: https://github.com/jaredrummler/AndroidDeviceNames

Came up internally:

### Solution Brainstorm

Instead of increasing the size of the SDK with this mapping that would ultimately get outdated all the time, we could do this on the backend. We need to get ingest folks involved on this one.

[2022-03-31 06:44] marandaneto commented on #1297
Yep, definitely should be done on the server.

[2022-03-31 14:57] untitaker commented on #1808
At first sight this is a legitimate bug. We should investigate this.

[2022-03-31 23:00] saintpepsicola commented on #1297
I love this 🚀. Thank you !

[2022-04-05 12:01] wmellema opened #1218 "Support scaling on web containers"
In our deployment of self-hosted sentry we're running into CPU limits on the web(backend) container. We'd like to be able to scale those web containers to our needs, but the relay is not responding to the round-robin DNS that docker provides by default.

[2022-04-05 12:27] jjbayer commented on #1218
Hi @wmellema, could you elaborate on "relay is not responding"? Could you share some details on how to reproduce this problem (sentry version, relay version, config, logs, ...)?

[2022-04-05 12:55] wmellema commented on #1218
Hi @jjbayer.

We're using the default configuration of the complete sentry stack. All normal configuration within the docker containers. Main sentry project is version 20.6.0

What we've tried is to add the `--scale web=2` parameter to the normal docker-compose command in order to scale up the backend installations. This causes dockers internal DNS to round-robin between 2 web instances.

However,

[2022-04-05 13:23] wmellema commented on #1218
I retract this statement :) Relay is just fine, it's the regular nginx config that doesn't do round-robin configuration

[2022-04-05 13:23] #1218 closed, assigned to nobody

[2022-04-11 15:10] jjbayer commented on #1201
@bruno-garcia with the payload you pasted above, our UI will still display "Windows 10" because that's what's parsed from the user agent string:
[code]

Only the `server-os` tag would be fixed by changing how we parse `raw_description` in relay.

In fact, the OS icon in our UI seems to be fed by either `client_os` or `os`:

https://github.com/getsentry/sentry/blob/e063ea75be554e5e4a237d619645d7924

[2022-04-14 10:45] #1201 closed, assigned to nobody

[2022-04-27 01:05] bruno-garcia opened #1244 "Accept transactions containing unfinished spans"
https://getsentry.atlassian.net/browse/INGEST-1109

Currently, Relay will drop transactions that contain Spans that don't have an end timestamp.

The code in question:

https://github.com/getsentry/relay/blob/569678659bac656d6c4a6edcbdf3381677b5eaa2/relay-general/src/store/transactions.rs#L110-L130

https://github.com/getsentry/relay/blob/569678659bac656d6c4a6edcbdf3381677b5eaa2/relay-general/src/

[2022-05-03 19:59] philipphofmann opened #1258 "Support rate limiting for envelope item type profile"
Relay should support rate limiting for envelope item types profile. Add a new data category for profile and the attribution logic.

[2022-05-04 08:08] jjbayer commented on #1258
@jan-auer @phacops do I understand correctly that https://github.com/getsentry/relay/pull/1259 will take care of this?

[2022-05-04 14:13] phacops commented on #1258
@jjbayer yes, #1259 is meant to take care of this.

[2022-05-04 16:46] philipphofmann commented on #1258
Can we also update the develop docs, please once we merge this https://develop.sentry.dev/sdk/rate-limiting/#definitions and https://develop.sentry.dev/sdk/envelopes/#data-model?

[2022-05-09 19:34] bruno-garcia opened #1264 "OS `raw_description` does not get parsed: Windows 10"
On a Unity WebGL we send `os.raw_description` as *WIndows 10* but it doesn't get parsed.

![image](https://uploads.linear.app/3ed206af-f87a-40aa-82a0-150bf83e43e6/4eb9496c-060c-44f9-bcfb-6745e5a34b55/fd20616b-7f5d-4dd0-8e37-9e2206a1f00c?signature=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXRoIjoiLzNlZDIwNmFmLWY4N2EtNDBhYS04MmEwLTE1MGJmODNlNDNlNi80ZWI5NDk2Yy0wNjBjLTQ0ZjktYmNmYi02NzQ1ZTVhMzRiNTUvZmQy

[2022-05-09 19:35] bruno-garcia opened #1265 "Parse runtime `raw_description` for Unity IL2CPP"
Shows as:

![image](https://user-images.githubusercontent.com/1633368/167484323-4672579b-75fb-49c9-8b4d-8114eb34626e.png)

[code]

Relates to: https://github.com/getsentry/relay/issues/1264, https://github.com/getsentry/relay/issues/1171

[2022-05-10 07:03] jjbayer commented on #1264
Do we generally want to support any string provided by https://docs.unity3d.com/ScriptReference/SystemInfo-operatingSystem.html?

[2022-05-10 07:09] jjbayer commented on #1171
I think we need a dedicated regex for iOS and macOS here:
https://github.com/getsentry/relay/blob/7d0dc11b38d4e876d57ad699252544d8f145a2cd/relay-general/src/store/normalize/contexts.rs#L19-L21
See also:
https://github.com/getsentry/relay/blob/7d0dc11b38d4e876d57ad699252544d8f145a2cd/relay-general/src/store/normalize/contexts.rs#L537-L539

[2022-05-10 07:10] jjbayer commented on #1265
@bruno-garcia what values would you like to see in `os.name` and `os.version` here?

[2022-05-10 23:32] bruno-garcia commented on #1265
In this case since we're sending `runtime`, we expect to receive something like:
`runtime.name=Mono Unity IL2CPP`
`runtime.version=May  5 2022 13:24:20`

Or alternatively we can just avoid parsing it altogether and just set: `runtime.name=Mono Unity IL2CPP (May  5 2022 13:24:20)` and not set the `version`.

@bitsandfoxes what would you say makes the most sense for Unity?

The UI might need fixing

[2022-05-10 23:37] bruno-garcia commented on #1264
I believe that's in there in PRs (maybe #1088 #1201) I believe @RaduW knows details.

In this case it's a WebGL build, so it's actually running on the browser. We might support that today from parsing `User-Agent` because it works for the JavaScript SDK. But here we're sending this value in the `os.raw_description` same as we send any other Unity event (not running on the browser).

[2022-05-11 08:14] jjbayer commented on #1264
@bruno-garcia Do you know what we send in `os.raw_description` for WebGL builds on other operating systems? The reason I'm asking is that I'd rather update the regex for an exhaustive list of values than for this single instance of "Windows 10".

[2022-05-11 10:06] matejminar commented on #1265
@bruno-garcia
Component responsible for rendering OS is: https://github.com/getsentry/sentry/blob/bb42837000875ecebc4276a0d6b4a68b30375eb4/static/app/components/events/contextSummary/contextSummaryOS.tsx

and for runtime this one:
https://github.com/getsentry/sentry/blob/816acaa36cffc042f7f0434434882e9232805ee2/static/app/components/events/contextSummary/contextSummaryGeneric.tsx

Happy to help wi

[2022-05-12 09:42] bitsandfoxes commented on #1265
I'd advocate for setting the `runtime.version` to the Unity editor version (i.e. Unity 2019.4.38f1). Since it's built-in it's not like users have control over which IL2CPP version they use. Everything relates back to "Which version of Unity did you use?" regardless.

[2022-05-12 12:11] jan-auer commented on #1265
@bitsandfoxes could you send that information from the client instead, or is that a separate runtime context entry? You can also have two runtime contexts. From the IL2CPP information above, we'll not be able to retrieve the unity version.

If it's a separate runtime, it can still make sense to separate name and version during ingestion.

[2022-05-13 18:00] bruno-garcia commented on #1264
@bitsandfoxes @vaind have you seen the values coming from Mobile and Desktop versions?

[2022-05-13 18:08] vaind commented on #1264
I haven't run it elsewhere but I will give it a go.

[2022-05-14 16:55] bruno-garcia commented on #1265
With that version of Unity a user could be using Mono or IL2CPP so Runtime could reflect that. But I do agree the version here is borderline useless and the Unity version is a lot more useful

[2022-05-19 07:02] jan-auer commented on #1244
Thanks, added to backlog and will implement this. In the future, please feel free to directly submit a PR :)

[2022-05-24 05:55] #1137 closed, assigned to nobody

[2022-05-24 05:55] jan-auer commented on #1137
A compatible version will be released with 22.6.0

[2022-05-24 05:59] jan-auer commented on #1052
Tests have been stable so far, so I think we can move ahead with this. However, I noticed that they take considerably longer than all other tests, tripling the time we need to wait for CI now. Is there a way to speed them up before we make this required?

[2022-05-24 06:02] jan-auer commented on #1048
Why would you like to cache the builder image? Sources change with almost every commit, too. We do cache the dependencies stage.

[2022-05-24 12:11] BYK commented on #1048
If you are including `.git` in your docker image there's really no good reason to be using Docker. The builder image can still be cached as we do over at getsentry/sentry which speeds up things tremendously as installing the same dependencies over and over is not very fast, especially with Rust. And by caching, we are not talking about full caching but at least caching certain layers.

[2022-05-24 12:34] jan-auer commented on #1048
We have a `relay-deps` stage for that reason, so the only thing the builder stage does is executing the build step itself, and that must run every time because of code changes. The final stage doesn't include `.git` again.

[2022-05-25 12:40] armenzg commented on #1052
It would not be a trivial amount of work. This is a problem we face across the board.

[2022-05-28 10:27] BYK commented on #1048
Could we use https://github.com/facebookincubator/cargo-guppy to help with this process?

[2022-05-30 08:23] jan-auer commented on #1048
Potentially, yes. @andriisoldatenko also discovered [`cargo-chef`](https://github.com/LukeMathWalker/cargo-chef) which would help with caching dependency builds.

[2022-05-30 08:31] jan-auer commented on #1052
_"Sentry-Relay Integration Tests"_ is a required check now.

[2022-05-30 08:31] #1052 closed, assigned to nobody

[2022-05-30 14:37] vaind commented on #1264
* [macOS](https://sentry.io/organizations/sentry-sdks/issues/2771507099/events/c57dc074563542108b0144a2e25f7adc/?project=5439417) - `MacOS 10.15.7` - works fine
* [iOS](https://sentry.io/organizations/sentry-sdks/issues/2771507099/events/274fd0b6b819412a900ff5359a439a3d/?project=5439417#context-os) - `iPhoneOS 14.5` - kinda works but the icon isn't right in the header - not sure that's related
  <

[2022-05-31 08:24] jan-auer commented on #1264
@jjbayer this one we should normalize to "iOS".

[2022-06-03 13:45] jan-auer commented on #1162
Relay will apply the limits from the upstream that are configured there, yes.

I recommend you configure nginx (part of the self-hosted package) with rate limits, although there's also ways to configure this directly in Sentry. https://github.com/getsentry/sentry/pull/33197 will add better ways to control this, right now you can set a global rate limit through [`system.rate-limit`](https://github.

[2022-06-03 14:08] lucas-zimerman opened #1625 "Clock drift correction is applied to envelopes without sent_at"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

set your device time to may 30,  and send a transaction and an event. You'll notice that events generated by  the device will have a similar warning
![image](https://user-images.githubusercontent.com/8229322/171868627-39656cb5-255b-4254-879b-4a303b143416.png)
Where transactions will have a different err

[2022-06-03 15:43] getsentry-release commented on #1625
Routing to @getsentry/owners-ingest for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-06-03 17:23] untitaker commented on #1625
This is expected behavior. The clock drift correction comes from the sent_at envelope header: https://develop.sentry.dev/sdk/envelopes/#data-model

If you are sending days old transactions and are seeing that clock drift correction is incorrectly correcting timestamps, the sent_at header is most likely set to a timestamp in the past, while it should be the time when the request has been sent out (

[2022-06-03 17:39] lucas-zimerman commented on #1625
I see. From what I saw, both envelopes didn't have the `sent_at` parameter on the `Envelope Headers`

Not exactly the same events but  those are the body values that I captured that were going to be sent to Sentry:
The event
[code]
Transaction
[code]

EDIT: I did a quick research and it seems like the some SDKs sets this `sent_at` parameter while others don't have this parameter.

[2022-06-03 17:57] untitaker commented on #1625
Ok, this is a bug, we should not be applying any sort of clock drift correction unless the event is really old (30 days) or `sent_at` exists in the envelope. Will create JIRA tickets for this but I don't know when we will get around to it.

[2022-06-08 15:16] jjbayer commented on #1297
Is the suggestion that we compile [this database](https://storage.googleapis.com/play_public/supported_devices.html) into Relay, and then map the column "Model" (e.g. SAMSUNG-SM-G930A) to the column "Marketing Name" (e.g. "Galaxy S7")?

[2022-06-09 10:03] marandaneto commented on #1297
@jjbayer yes, there's also this https://storage.googleapis.com/play_public/supported_devices.csv so we can choose where to pull from the data, mapping ideally during ingestion?

[2022-06-10 19:33] mzglinski opened #1303 "PII Data Scrubbing from transaction snaps"
Hi,

I'm trying to create rules in sentry that would scrub password details from transaction snaps.

I was trying to debug this here https://getsentry.github.io/piinguin/, but it seems that I'm only able to remove passwords if I directly specify the path to the field of interest, nothing else works. Am I doing something wrong, or snaps aren't supported the same way as breadcrumbs?

PII Config (tha

[2022-06-13 09:52] untitaker commented on #1303
Piinguin was an internal prototype of the now-internal config of [advanced datascrubbing.](https://docs.sentry.io/product/data-management-settings/scrubbing/advanced-datascrubbing/). It may be out of date wrt capabilities of Advanced Datascrubbing.

You can replace `3` with `*`, but I am not sure if that's your issue?

[2022-06-13 14:14] mzglinski commented on #1303
Hi, thank you for your reply!

The issue is, that **snaps** are not scrubbed in, either way, I tried advanced data scrubbing and the passwords are still there. Then I tried debugging this using piinguin with no luck too. Replacing 3 with `*` does work, but using `**` doesn't.

This is my config generated by advanced data scrubbing

[code]
and `password` and `passwordDigest` fields are not removed/

[2022-06-15 14:45] untitaker commented on #1303
Yes, `**` doesn't work right now. It is more conservative in what kind of fields it is being applied to. Our concern is that people configure too far-reaching rules and delete most of the event payload that way.

`*` only applies to a single path element, so we allow it for spans as well. I would strongly recommend to configure as specific selectors as possible all the time, otherwise the `passwor

[2022-06-15 15:12] mzglinski commented on #1303
This unfortunately won't work for me because structures passed here are very dynamic, and it is going to be very hard to keep track of it. We probably are going to create more rules with different levels of a single wildcard. Like

[code]

I think it would be beneficial if you could add [information to the documentation](https://docs.sentry.io/product/data-management-settings/scrubbing/advanced-da

[2022-06-15 15:12] #1303 closed, assigned to nobody

[2022-06-15 16:15] jetxr opened #1305 "arm64 support for Docker images"
Looks like the [Docker images](https://hub.docker.com/r/getsentry/relay) are built for amd64 only and don't support ARM architectures.

I was trying to run Sentry Relay on a AWS T4g instance, and  ran into this error:

[code]

Looks like the base image while running is debian:buster, which supports arm64. Any chance arm64 could be supported?

[2022-06-17 08:12] flub commented on #1305
Hi, does relay run fine on arm64 for you if you build it yourself?  If so maybe you could consider making a PR to also build images for it.

[2022-06-17 09:05] jjbayer commented on #1305
@jetxr there is an effort to run the entire sentry stack on arm64: https://github.com/getsentry/self-hosted/issues/914, but since we do not need it ourselves, there is no timeline for it.

[2022-06-17 12:41] armenzg commented on #1305
Currently there's no one working on it.

It seems that it might require some work to get the build going (at least building on my M1 is not working).

Once the build works, the image could be built as experimental on GH. We have an [example image being built for Snuba](https://github.com/getsentry/snuba/blob/8f892656c2e0b8075207ddf108bfacd4fd2c073d/.github/workflows/ci.yml#L134-L192).

[code]

[2022-06-27 08:19] jan-auer commented on #1305
I recently looked into this. There are several points that need to be addressed:
1. Not all of Relay's features will build for arm64. Particularly, the `crash-handler` feature does not since it uses _breakpad_ internally and that doesn't build on arm64. In short term, we can disable that feature for the arm64 build. In longer term, we should upgrade to an in-proc crash handler of `sentry-native` o

[2022-07-07 09:29] bengentil commented on #956
Our use-case is filtering hosts/clusters during maintenance or hosts spamming with known issues to avoid the cleanup of many unwanted events/issues (+VACUUM the database when an host is spaming millions of events).
Some hosts are NATed, thus the filtering on the relay.

I understand I can filter in the Issue stream, but it could be nice if the relay could prevent unwanted events to be created.

[2022-07-08 19:28] schmkr opened #1335 "Allow configuring extra HTTP response headers"
The relay proxy is a great addition to the Sentry setup that allows us to do the scrubbing within our own infra before sending it to for further processing.

Various automated scans, also check the domains we host the rely proxy on and automatically report that domain as insecure because of various missing headers from the server responses.

Would it be possible, to allow configuring the proxy to

[2022-07-12 06:48] yayapao opened #1336 "Too many 400 Bad Request"
### Environment

self-hosted/on-premise and relay version is **relay-21.6.3**

Which SDK and version?

JavaScript v6.13.3

### Steps to Reproduce

1. Start a relay server online
2. Config relay info on sentry
3. Client report transaction by envelope api

### Expected Result

Less 400 http code for response

### Actual Result

Too many 400 http code, almost 90%

[code]

It's there any way to do wit

[2022-07-13 10:43] iker-barriocanal commented on #1336
I see support for client reports, introduced in https://github.com/getsentry/relay/pull/1081, is available from `v21.9.0`, see [changelog](https://github.com/getsentry/relay/releases/tag/21.9.0). Upgrade relay to at least `v21.9.0` to have this support, and open a new issue if you find any trouble or continue seeing too many `400` responses.

I recommend upgrading your JavaScript SDK to the latest

[2022-07-13 10:44] untitaker commented on #1336
@iker-barriocanal this is about CSP/security reports, which we have open tickets for

[2022-07-14 02:41] yayapao commented on #1336
Thanks, i will try upgrade relay to latest version and see response status. Hope all 200/201

[2022-07-14 02:41] #1336 closed, assigned to nobody

[2022-07-28 15:36] bumarcell commented on #879
@ajacques was this issue solved somehow?
Having the same problem with version 22.6.0 😞

[2022-07-29 01:43] ajacques commented on #879
@bumarcell No change AFAIK. The fix was reverted due to a regression and Sentry engineers decided it wasn't valuable enough to fix. I ended up just running in a mixed environment with SSL for sentry/snuba, but not Relay.

[2022-07-29 08:21] bumarcell opened #1361 "Relay connect to kafka with ssl auth"
We are using Sentry on-premise on Kubernetes ([this helm chart](https://github.com/sentry-kubernetes/charts)) with external Kafka. Our production Kafka uses ssl authentication, which I think is a common practice.

I noticed this feature was requested (and implemented) 2 years ago [here](https://github.com/getsentry/relay/issues/879) however it was reverted due to some regression problem (and the f

[2022-07-29 10:28] untitaker commented on #1361
@bumarcell feel free to come up with a solution that solves the concern of not being able to use `--all-features`: https://github.com/getsentry/relay/pull/889

The concrete problem: We want to be able to run `cargo build --all-features` on macos, which is our primary development platform. The initial implementation broke that because the new `kafka-ssl` feature didn't compile on macos (iirc). I do

[2022-07-29 10:55] yayapao commented on #1336
Solved!

[2022-08-03 01:02] tiedotguy opened #1375 "UA reduction is resulting in Chrome versions being matched as IPs, breaking agent detection"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry.javascript.react, 7.8.1

### Steps to Reproduce

Regular usage, with regular users, on the latest Chrome

### Expected Result

UAs are processed normally, and browser detection is successfully done based on it

### Actual Result

UAs have the version redacted as they match the IP regex

-----

With [UA r

[2022-08-03 08:55] untitaker commented on #1375
thanks for the detailed diagnostics, this makes sense and we'll file it internally. can't yet give an ETA as to when this will be fixed. can you confirm that disabling datascrubbing/default scrubbers fixes this issue?

[2022-08-03 08:58] untitaker commented on #1375
we may fix this when #1366 and related PRs land, because then user-agent parsing might run before datascrubbing.

[2022-08-04 06:30] jjbayer commented on #1258
@philipphofmann made a good point about updating the dev docs, maybe someone from @getsentry/profiling can take that?

[2022-08-14 23:45] tiedotguy commented on #1375
Hi

Unfortunately we're not in a position to disable data scrubbing due to compliance and all that fun stuff.  Regarding #1366, is the UA detection handled in the relay? It sounds like there may be two potential data flows:

1. `browser -> sentry -> redact -> UA`, which becomes `browser -> sentry -> UA -> redact`
2. `browser -> relay -> redact -> sentry -> redact -> UA`, which becomes `browser ->

[2022-08-16 11:53] untitaker commented on #1375
both datascrubbing and user agent parsing are done in relay, and now user agent parsing is done before datascrubbing. please check again if this is still a problem

[2022-08-18 11:59] tobias-wilfert opened #1424 "Future Proof Relay"
The general idea is to future-proof Really by updating the Actors to:
- Work with the standard [Futures](https://doc.rust-lang.org/stable/std/future/trait.Future.html) instead of the former `futures` crate.
- No longer work with [`actix`](https://docs.rs/actix/0.13.0/actix/) internally.
- Refer to Actors as Services.

**General Refactor:**

- [X] #1362
- [X] #1405
  - [X] #1415
- [x] #1421
- [x] #

[2022-09-05 10:33] #1375 closed, assigned to nobody

[2022-09-19 13:37] iker-barriocanal commented on #1335
Hey @schmkr, have you considered adding your own proxy in front of it?

[2022-09-19 16:24] schmkr commented on #1335
Hi @iker-barriocanal, yes we have. We could do something like that, but would rather keep the setup as simple/flat as possible. So if it would be possible, that would be great. If not, we would have to add yet another proxy, yes.

[2022-09-20 09:18] iker-barriocanal commented on #1335
Since the issue is originally coming from explaining to your auditors why these headers are missing in your services, I'd suggest you add a proxy in front of relay to have full flexibility on what headers are managed. This approach also provides more flexibility to update the set of headers as your requirements evolve without relying on Sentry to manage them, besides the security benefits a proxy

[2022-09-20 09:18] #1335 closed, assigned to nobody

[2022-09-21 00:15] tiedotguy commented on #1375
Hi, quick update on this - we got the update out yesterday and confirmed it's working.

[2022-09-23 18:15] kennedyjosh opened #1499 "Difficulty getting tls to work with relay"
### Environment

Config file:
[code]

Using latest version from this docker command:
[code]

`keyStore.p12` was generated by doing:
[code]

### Steps to Reproduce

1. Start Relay using docker command above
2. Logs show that ports 3000 and 3001 are open
[code]
3. I can ping on port 3000:
[code]
4. I cannot ping on port 3001:
[code]

### Expected Result

I expected events sent through ports 3000 and

[2022-09-26 13:50] jjbayer commented on #1499
@kennedyjosh thank you for the detailed steps to reproduce! I can reproduce your problem so I will add it to our internal backlog.

[2022-09-27 09:01] marandaneto opened #1501 "Data scrubbing should filter sensitive headers such as `Set-Cookie`"
[OkHttp defines](https://github.com/square/okhttp/blob/58ee1ce170c2aea75a113012956260873e808dad/okhttp/src/commonMain/kotlin/okhttp3/internal/-UtilCommon.kt#L194-L200) its own sensitive headers.
Some of them are filtered by Relay already, but not all of them.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cookie

Not

[2022-09-27 17:04] untitaker commented on #1501
the request interface of an event is for http request headers, set-cookie is a response header. generally we are filtering header names iirc

[2022-09-28 09:36] marandaneto commented on #1501
We're trying to use the `request` property for all the merged headers (request, response), but since there's this limitation plus a few other ones, I will reconsider that.
I'll leave that up to you if you still wanna run scrubbing or not, there's also the inconsistency of `Cookie` being removed instead of filtered.

[2022-09-29 07:47] jjbayer commented on #1501
I suggest we put this hold until we've completed the RFC on where to put response data in the event payload.

[2022-09-29 14:06] untitaker commented on #1501
I would definitely not do that. Which RFC are we talking about?

[2022-09-29 15:41] marandaneto commented on #1501
@untitaker I'm going to write an RFC that adds `Event.response` or `Event.contexts.response`, data structure similar to `event.request` but with additional fields such as `status_code`, etc...
Data scrubbing would need to give a pass in the `headers` field, etc.

[2022-09-29 15:42] untitaker commented on #1501
@marandaneto sounds good. there is potential for a lot of pii there so i think we should think about designing new default scrubbing rules in the same vein.

[2022-10-03 09:40] marandaneto commented on #1501
https://github.com/getsentry/rfcs/pull/22

[2022-10-03 21:28] kennedyjosh opened #1511 "Getting invalid project ID error, but the project ID is not invalid"
### Environment

Latest version fetched from a docker compose file:
[code]

config file:
[code]

### Steps to Reproduce

1. Start both containers using `docker compose up`
2. `export SENTRY_DSN=https://ed03b5weovnv103875f8f2c93a45790@sentry.mydomain/1430973`
    * The actual values have been changed to protect privacy
3. `sentry-cli send-event -m "test 123"`

### Expected Result

* I expect traffi

[2022-10-04 13:09] iker-barriocanal commented on #1511
Hi there. It seems you're using relay in static mode without adding any project config. From the [docs](https://docs.sentry.io/product/relay/modes/#static-mode):

If you don't want to configure the projects yourself, I suggest you use the [proxy mode](https://docs.sentry.io/product/relay/modes/#proxy-mode). Or, if you're in a business or enterprise plan, the [managed mode](https://docs.sentry.io/p

[2022-10-04 13:09] #1511 closed, assigned to nobody

[2022-10-07 07:39] marandaneto commented on #1501
Closing in favor of https://github.com/getsentry/rfcs/pull/22
`Request #headers[Cookie]` is removed from the list because it's set to the high-level field `cookies` if found.
`Set-Cookie` isn't scrubbed because it's a response header and it should not be set in the first place.
Response headers go to the Response interface -> https://github.com/getsentry/rfcs/pull/22

[2022-10-07 07:39] #1501 closed, assigned to nobody

[2022-10-12 08:06] iker-barriocanal commented on #1094
Relay uses `yml` as the primary extension, and there's no reason to also support `yaml`, so closing this issue.

[2022-10-12 08:06] #1094 closed, assigned to nobody

[2022-10-13 15:40] olksdr commented on #1499
I've looked into this shortly, it is not a problem with `relay` - since it works perfectly fine with TLS configuration and accepts the incoming requests.

The issue here is in the `sentry-cli` which, looks like, does not send the message to endpoints with self-signed certificates.

[2022-10-14 12:53] marandaneto opened #1530 "Implement Response protocol"
https://github.com/getsentry/rfcs/blob/main/text/0022-response-context.md

Add an additional field to `Request` protocol as well, `bodySize`.

There's a JIRA issue already, this is just a meta issue for the Mobile SDKs, we only use GH issues.

[2022-10-17 12:15] olksdr commented on #1499
Once  new `sentry-cli` is released with changed from https://github.com/getsentry/sentry-rust/pull/508 it will be possible to set env variable `SSL_VERIFY=false`  to disable certificates validation for self-signed certificates. And it will make it possible to send the events to above mentioned configuration.

Another way would be to get a free, e.g. let's encrypt, certificate and use it for self-h

[2022-10-17 12:15] #1499 closed, assigned to nobody

[2022-10-17 18:44] chadwhitacre opened #1532 "Spurious failures from GCB for gh-pages branch"
Hey team, just noticed in passing that [the `relay-branch-push` trigger](https://console.cloud.google.com/cloud-build/triggers;region=global/edit/9d0218a6-21ba-4106-939c-474d55a922d6?project=sentryio) in GCB is configured to fire for any branch, but there is no `cloudbuild.yml` on the `gh-pages` branch, resulting in build failures. Not the biggest deal but did add a touch of noise when debugging o

[2022-10-18 11:01] #1530 closed, assigned to nobody

[2022-10-18 16:25] alekitto commented on #1305
Sorry, I have to correct you: breakpad DOES build on arm64, but not under CentOS 7 as its glibc version is too old.
Replacing it with a recent debian, it compiles successfully.

[Here's a modified Dockerfile](https://github.com/alekitto/sentry-relay/commit/e3632e6a16d8cfde909a30f5f244e845b3555429). I've built a multiplatform (amd64,arm64) image via buildx (cross-compiled) and successfully deployed

[2022-10-25 06:57] TonyGui7 opened #1546 "custom metrics query return empty response"
### Environment

Relay 22.10.0

### Steps to Reproduce

- config "organizations:dashboards-mep" flag to sentry.conf.py file;
- config relay project configuration with json file below
![896F55EA-A403-40D6-AB47-CA38D9A83F74](https://user-images.githubusercontent.com/19777415/197702023-ae00fb1e-649e-4c06-899f-a6053346c087.png)

- start service

- report custom metrics with key code below
[code]
- Ser

[2022-10-25 15:15] iker-barriocanal commented on #1546
Hi there. Are you able to see/query other metrics, and that's the only one that fails? Since you're running your own relay, do you have a full self-hosted setup, or are you using Sentry SaaS?

[2022-10-26 02:48] TonyGui7 commented on #1546
Yes, I am able to see all of the built-in metrics like app_cold_start etc&, it's just the custom metrics that I can't see.
I am using self-hosted. Since I can't see custom metric "video_prepare" that I report with default configuration, I read the sentry web code and relay code and I modify three files below
![91B7754E-57B4-426B-B5FA-38355F58FBAB](https://user-images.githubusercontent.com/19777415

[2022-10-30 22:42] cleptric commented on #1557
@getsentry/ingest Can I move this over to you?

[2022-10-31 10:01] iker-barriocanal commented on #1557
@cleptric transferred to ingest.

@emilien-puget I tested locally the [non-modified payload you provided](https://gist.github.com/emilien-puget/8d37fe5094992f7d6cef7b5c0b5c00b1) and works fine. Could you try to replicate this again, and provide a link to the Sentry event? This may be happening due to [data scrubbing](https://docs.sentry.io/product/data-management-settings/scrubbing/advanced-datasc

[2022-10-31 10:27] iker-barriocanal commented on #1546
Are you also on v22.10.0 for all the other components, or is it just relay? What version of sentry are you running?

[2022-10-31 10:35] emilien-puget commented on #1557
i think this was fixed server side a while ago

[2022-10-31 10:35] #1557 closed, assigned to nobody

[2022-10-31 12:50] TonyGui7 commented on #1546
I use self-hosted with tag 22.10.0 to deploy service and the environment config shows that the version of sentry, snuba and relay is 22.10.0
![B76F09C0-D6E0-4659-9458-65B6D46D6217](https://user-images.githubusercontent.com/19777415/199011478-98ba4381-2bdc-4acf-a9c0-5de5c1589e54.png)

![5E9BEC34-8CC8-4A97-800D-21A4A24CF281](https://user-images.githubusercontent.com/19777415/199011806-709e987b-d595-

[2022-10-31 16:11] iker-barriocanal commented on #1546
William answers [here](https://github.com/getsentry/sentry/issues/40240#issuecomment-1287083636) -- dynamic sampling, the feature custom metrics is part of, isn't supported yet for self-hosted.

Thanks for opening the issue, but I'll close it since it isn't actionable in Relay at the moment. Stay tuned!

[2022-10-31 16:11] #1546 closed, assigned to nobody

[2022-11-01 06:58] kanbykanby opened #1559 "Error when `docker buld .` on Mac m1 pro"
### Environment

relay@22.7.0
docker@latest
M1 pro macbook pro.

### Steps to Reproduce

[code]
### Expected Result

What you thought would happen.

### Actual Result

What actually happened. Maybe a screenshot/recording? Maybe some logs?

[2022-11-03 15:52] jjbayer commented on #1532
Thanks @chadwhitacre. I changed the exclusion regex to `^(release-library\/.+)|(gh-pages)$`, hope that that does the trick.

[2022-11-03 16:06] jjbayer commented on #1559
@shezhangzhang this is pure speculation on my side, but docker might be running out of memory. Could you try increasing it in Docker Desktop's "Preferences -> Resources"?

[2022-11-03 16:09] kanbykanby commented on #1559
But I have 20G

[2022-11-04 10:13] jjbayer commented on #1559
Do you get the same error with relay version 22.10.0?

[2022-11-07 02:50] kanbykanby commented on #1559
@jjbayer  relay latest version can't build on m1 pro mac too.
[code]

[2022-11-07 09:29] shanet commented on #1810
I was working on setting up CSP reporting locally and found it quite confusing that Sentry filters out reports from localhost automatically despite seeing successful requests in the browser sending those reports to Sentry. It's especially confusing too because there is a project setting to filter errors from localhost and browser extensions which it seems the CSP reporting does not respect.

![202

[2022-11-08 03:01] kanbykanby commented on #1559
After add `RUN cargo --config net.git-fetch-with-cli=true fetch` in Dockerfile before the make release command. It works!

[2022-11-08 14:34] bumarcell opened #1572 "Message production error: MessageTimedOut (Local: Message timed out)"
I'm running Sentry in k8s with relay. A few days ago I updated to v22.10 (through a helm-chart update) and since then I'm getting the following error from relay:
`[relay_server::utils::kafka] ERROR: failed to produce message to Kafka (delivery callback): Message production error: MessageTimedOut (Local: Message timed out)`

I tried raising message.timeout.ms to 1000000 (~17min). After restart rela

[2022-11-09 12:09] #1559 closed, assigned to nobody

[2022-11-10 07:57] #1532 closed, assigned to nobody

[2022-11-10 08:25] jjbayer commented on #1572
Hi @bumarcell, what helm chart are you using? A similar issue was reported ~2 years ago, let me know if that thread helps you at all: https://github.com/getsentry/self-hosted/issues/687.

[2022-11-11 13:09] bumarcell commented on #1572
@jjbayer Thanks for your answer. I found out later that I do have some Kafka issues, which when got resolved fixed the relay issue.

[2022-11-11 13:09] #1572 closed, assigned to nobody

[2022-11-11 17:37] n0tsaved opened #1580 "Relay redis issue: invalid UTF-8"
Hello,
I'm seeing lots of these logs in my relay nodes (managed mode)
[code]
I don't see evident problems in my sentry infrastructure, but at some point the memory usage of redis dropped.
From the collected redis stats I can see an average of ~20k items.
It just seems strange since we have almost 100 active projects and from the haproxy stats I can see that we are receiving ~20k events per minute

[2022-11-15 21:05] jan-auer commented on #1580
You're mentioning that you run Relays in managed mode. Do you have the affected instances configured as part of a sentry self-hosted deployment, or as an additional proxy in front of either sentry.io or a self-hosted instance?

Ideally, please share the contents of `config.yml` with us, so we can check the configuration.

[2022-11-15 21:14] n0tsaved commented on #1580
Hello, thanks for the response.
I run my own self hosted deployment on different vms.

Here's my `config.yml`
[code]
  PS.
  I tried to enable `sentry.dsn` option in the hope to see something more about this error but unfortunately I couldn't find much more in the stacktrace of the processed event:
[code]
  Perhaps there's a way to enable the stacktrace visibility? (I'm running the relay in a dock

[2022-11-16 07:00] olksdr commented on #1580
Does it correlate with adding new projects to your Sentry instance?

From the quick look in the code it seems the issue happens when the [project config](https://github.com/getsentry/relay/blob/9d29ae9e79d6419ed5c5caa4a51e7e54620afc5b/relay-server/src/actors/project.rs#LL90C17-L90C17)  is read from the redis and it assumed to be [all utf8 data](https://github.com/redis-rs/redis-rs/blob/804985ddad4

[2022-11-18 14:20] HazAT opened #1596 "Transaction name parsing rule spec"
Write a document with the spec on how a rule looks like, the protocol to send it between different services, and anything else that’s also relevant.

The spec must also contain a clear section on what this milestone changes, so that other teams and non-technical people (such as product managers) can quickly find and understand the consequences of the initiative without diving into (technical) deta

[2022-11-18 14:21] HazAT opened #1597 "Add hardcoded transaction name parsing rules to relay"
The goal is to ship something from which we can already get value and learn from it. The rule spec will probably look different than this initial iterations; that’s expected and they will be adapted to match the spec.

**Details**

* Replace UUIDs, git SHAs and numerical IDs in transaction names by placeholders.

**Acceptance Criteria**

* The `transaction` tag on transaction metrics is transforme

[2022-11-18 14:22] HazAT opened #1598 "Transaction name parsing algorithm POC"
POC, without integrating it into the actual production system, of how transactions names are parsed.

**Acceptance Criteria**

* Working POC in code.

[2022-11-21 09:28] HazAT opened #1602 "Update ProjectCache Actor"
- [x] https://github.com/getsentry/relay/pull/1619
- [x] https://github.com/getsentry/relay/pull/1622
- [x] https://github.com/getsentry/relay/pull/1635

[2022-11-21 09:29] HazAT opened #1603 "Update ProjectLocal Actor"
- [ ] https://github.com/getsentry/relay/pull/1710

[2022-11-21 09:30] HazAT opened #1604 "Update ProjectRedis Actor"

[2022-11-21 09:31] HazAT opened #1605 "Update Upstream Actor"

[2022-11-21 09:34] HazAT opened #1606 "Update Server Actor"

[2022-11-21 09:35] HazAT opened #1607 "Update ProjectUpstream Actor"

[2022-11-21 09:36] HazAT opened #1608 "Fix broken shutdown test"
There is a disabled integration test `test_forced_shutdown` that currently doesn’t work because the Dropped future fires after the sdk client has been closed. Actix keeps the system and all its registered futures alive even after the System::stop call.

After we’re done with getting rid of actix/modernizing in general, try to get that test running again.

[2022-11-21 09:55] jan-auer opened #1609 "[INC-237] Missing alert for dropped envelopes"
There should be a Relay error on [sentry.my.sentry.io](http://sentry.my.sentry.io/) + alert whenever envelopes get dropped, in https://getsentry.atlassian.net/browse/INC-237 it did not trigger.

[Alert](https://sentry.my.sentry.io/organizations/sentry/alerts/rules/details/17/) looks for “error processing envelope”, but that did not occur since Aug 8 (INC-192), see [Discover](https://sentry.my.sent

[2022-11-21 09:56] jan-auer commented on #1609
@jjbayer wrote:

[2022-11-21 09:56] jan-auer commented on #1609
@iker-barriocanal wrote:

[2022-11-21 10:20] jjbayer commented on #1597
Initial proposal for detecting identifiers (internal docs): https://www.notion.so/sentry/Prevent-high-cardinality-for-transaction-names-09fc121e1a5743f980a8ccae1b543e6c#e895b742080944d28762f985a77b5803

Regex we use to detect identifiers in issue grouping: https://github.com/getsentry/sentry/blob/6ba59023a78bfe033e48ea4e035b64710a905c6b/src/sentry/grouping/strategies/message.py#L16

[2022-11-21 10:27] jan-auer opened #1610 "Fix tests depending on broken `SystemRegistry` behavior"
[code]

[2022-11-21 10:27] jan-auer opened #1611 "Define names for all runtimes"
It is useful to have thread names for profiling and memory dumps. Tokio and actix assign default names to all their runtimes. To improve on this, we should assign custom names for all dedicated runtimes.

Implemented in #1688

[2022-11-21 10:28] jjbayer opened #1612 "When transactions are rate limited, profiles are sampled at 100%"
When an envelope does not contain transactions, we do not attach a “sampling project state” to the envelope context: [relay/dynamic_sampling.rs at 0586fa62eb3ee75697120ea6d89efe51c740f6ad · getsentry/relay](https://github.com/getsentry/relay/blob/0586fa62eb3ee75697120ea6d89efe51c740f6ad/relay-server/src/utils/dynamic_sampling.rs#L138-L145)

But rate limit enforcement may already have removed trans

[2022-11-21 10:28] jan-auer opened #1613 "Panic handling in services"
Panics during message handling permanently stop a service's accept loop. After this, the service does not restart and Relay is in an unhealthy state. Every service should instead restart on panic and resume processing messages. Potentially poised state should be reset.

- The `EnvelopeProcessor` had proper panic handling implemented in https://github.com/getsentry/relay/pull/1470.
- The web server

[2022-11-21 10:28] jan-auer opened #1614 "Remove all actix-related helper utilities"

[2022-11-21 13:00] jjbayer commented on #1598
Closing in favor of https://github.com/getsentry/team-ingest/issues/2.

[2022-11-21 13:00] #1598 closed, assigned to nobody

[2022-11-21 16:11] jjbayer commented on #1609
I verified that `error processing envelope` is still logged by returning a dummy error from `enforce_quotas`:

[code]

->

[code]

The reason we did not see this error in INC-237 (Oct 19 2022) is that we failed envelope handling even before processing. The open question is why we did not see _any_ error during INC-237.

[2022-11-21 16:18] AbhiPrasad opened #1615 "Add OpenTelemetry metrics to Relay"
To get some high level insights into OpenTelemetry usage, we want to track OpenTelemetry projects via Relay statsd metrics. This will also help us make decisions as we move forward with server-side OpenTelemetry logic.

- [x] Add OpenTelemetry Context to schema https://github.com/getsentry/relay/pull/1617
  - See: https://develop.sentry.dev/sdk/performance/opentelemetry/#opentelemetry-context
- [x

[2022-11-22 07:51] jjbayer commented on #1609
Alerts now updated (see linked PR for context):

https://sentry.my.sentry.io/organizations/sentry/alerts/rules/details/16/
https://sentry.my.sentry.io/organizations/sentry/alerts/rules/details/17/

[2022-11-22 09:33] #1609 closed, assigned to jjbayer, iker-barriocanal

[2022-11-23 09:05] jjbayer commented on #1597
This will not provide value in the product yet, because erasing identifiers does not give us enough confidence to declare the transaction name "low cardinality", and with that, it will still be changed to "unparameterized" in metrics extraction.

[2022-11-23 10:17] #1615 closed, assigned to AbhiPrasad

[2022-11-24 09:36] iker-barriocanal opened #1624 "Relay panics on invalid or out-of-range datetime"
See [Sentry issue](https://sentry.my.sentry.io/organizations/sentry/issues/315685/?project=9&query=is%3Aunresolved+is%3Afor_review+assigned_or_suggested%3A%5Bme%2C+none%5D&referrer=issue-stream&sort=inbox). The error happens specifically here:
https://github.com/getsentry/relay/blob/2a0a6b569fdc6a9f8c43cfe36dad74b3deebc0fe/relay-common/src/time.rs#L133

[2022-11-24 09:41] sentry[bot] opened #1626 "InvalidJsonError: Compiled regex exceeds size limit | relay_cabi::processing::relay_pii_strip_event"
Sentry Issue: [SENTRY-W0Z](https://sentry.io/organizations/sentry/issues/3586769799/?referrer=github_integration)

[code]

[2022-11-24 09:42] jan-auer commented on #1626
This is caused by the work on INGEST-1616. Although a [follow-up PR](https://github.com/getsentry/relay/pull/1481) should have increased the size limit, so we should not see a limit of `262144` anymore.

[2022-11-24 09:48] jan-auer opened #1627 "Prevent double-counting of metric buckets towards rate limit"
When `EnvelopeManager` returns an error for an envelope of metrics buckets, these buckets will be merged back into the aggregator. This can happen if Kafka is down. Because rate limit have already been applied at this point, these buckets will count double, triple or worse towards the rate limit.

In order to not double count metrics buckets that were merged back into the aggregator, we have four

[2022-11-24 09:57] jan-auer opened #1628 "Extract breakdown `total.time` as metric"
INGEST-1502 surfaced the fact that until now, we do not extract `breakdowns.total.time` as a metric because it was not on the allowlist provided by Sentry. Apparently nobody misses it, so should we even increase storage by extracting it now?

[2022-11-24 09:58] jan-auer commented on #1628
@wmak wrote:

[2022-11-24 09:58] jan-auer commented on #1628
@jjbayer wrote:

[2022-11-24 10:10] jan-auer opened #1629 "Metrics aggregator dropping buckets"
Sentry Issue: [POP-RELAY-2BP](https://sentry.my.sentry.io/organizations/sentry/issues/297799/?referrer=github_integration)

[code]

[2022-11-24 10:20] jan-auer opened #1630 "Restrict transactions to 5 days into the past"
Currently we allow transactions to be back-dated 30 days into the past, but transaction metrics are restricted to 5 days, a restriction which our storage relies on.

It would make sense to apply the same 5 day restriction to transactions themselves now as well.

From an internal conversation:

[2022-11-24 10:21] jan-auer commented on #1630
@jjbayer wrote:

[2022-11-24 10:21] jan-auer commented on #1630
@jeremybourque wrote:

[2022-11-24 10:22] jan-auer opened #1631 "Dynamic sampling should respect metrics extraction version"
For transaction metrics extraction, we have a versioning mechanism that works as follows: When sentry bumps the version number in the `transactionMetrics` part of the project config, old Relays which do not yet support this version will stop extracting metrics.

In practice, this means that customer Relays will stop extracting metrics, deferring the work to our PoP Relays instead. But these custom

[2022-11-24 10:24] jan-auer opened #1632 "Remove transaction metrics allowlist from Sentry"
Once Relay does not use the old configuration format anymore, remove it from project configs.

This means we can also completely remove the metrics allow list set up there.

**NOTE:** Outdated external Relays will not recognize the new config format, so when Sentry stops sending the metrics allowlist, they will stop sending metrics altogether, while still setting `metricsExtracted=1`. The way arou

[2022-11-24 10:50] jan-auer opened #1633 "[INC-263] Backoff mechanism for fetching projects in case of error"
With https://github.com/getsentry/relay/pull/1426 deployed in case of invalid project state (when it could not be parsed or fetched) we will reuse the old state up until the grace period is reached.

This does not stop the Relay to try and update the state in next refresh cycle again though. We must make sure that we have a back off for these retries so we won’t DDoS our own services with requests

[2022-11-24 10:51] jan-auer commented on #1633
@jjbayer wrote:

[2022-11-24 10:57] jan-auer opened #1634 "Plan scoped and global config propagation"
We should design and implement a system that allows more granular control of settings and flags in addition to the current project configuration and static relay config.

# Background

Sentry has several (nested) scopes: global, organization, project, key. We have multiple instances where we would like to propagate configuration values from a higher scope that can be dynamically changed:

- Values

[2022-11-24 12:18] jan-auer commented on #1044
Closing as stale since we could not reproduce this. Please reopen with more information if this still poses a problem. Thank you!

[2022-11-24 12:18] #1044 closed, assigned to nobody

[2022-11-24 15:13] sl0thentr0py opened #1636 "Add OpenTelemetry span transformation"
Some SDKs (js/ruby/python/java) will soon start sending over transactions mapped over from OpenTelemetry spans.

The spans in these transactions will contain otel `attributes` as `data`.
We want to add relay-side logic for mapping over some of these attributes to span ops/description/status so that we don't need to replicate this logic in each SDK.

This will also serve as a starting point for fur

[2022-11-25 09:10] jan-auer opened #1639 "Enumerations in public interfaces need a catch-all type"
- [x] https://github.com/getsentry/relay/pull/1638
- [x] Add unknown to `RuleType` and `SamplingMode` https://github.com/getsentry/relay/pull/1641
- [x] Check for more enumerations without a catch-all variant
- [x] Add `Other(u8)` to `SpanStatus` #1737
       @jjbayer will check if we need different behavior in processing relays, and how.
- [x] Add `Unknown(String)` to `SessionStatus`. Do not extr

[2022-11-25 11:53] olksdr commented on #1597
Changes deployed and enabled for sentry. We could watch the changes to transaction names as the result of linked PRs.

[2022-11-25 11:53] #1597 closed, assigned to olksdr

[2022-11-28 14:25] jan-auer commented on #1424
Let's close this, this is now being tracked in this milestone:
https://github.com/getsentry/relay/milestone/2

[2022-11-28 14:25] #1424 closed, assigned to nobody

[2022-11-29 11:11] #1602 closed, assigned to jan-auer

[2022-11-30 08:50] jjbayer commented on #1639
Found the following problematic enums (internal doc): https://www.notion.so/sentry/Forward-compatibility-of-enums-5eafecc16a014cbab13dbab3791ccef3

[2022-11-30 09:19] jan-auer opened #1654 "Make Dangerbot work on external PRs"
The Github token issued in forks for external PRs does not have sufficient permissions to read pull request information. This fails the Dependabot job with:

[code]

PRs that are blocked on this:

- https://github.com/getsentry/relay/pull/1307
- https://github.com/getsentry/relay/pull/1558
- https://github.com/getsentry/relay/pull/1645

[2022-11-30 09:20] jjbayer commented on #1654
Example PR: https://github.com/getsentry/relay/pull/1558

[2022-11-30 12:06] olksdr opened #1655 "Convert ProjectSource to service"
With refactor for [the project cache](https://github.com/getsentry/relay/issues/1602) new utility struct `ProejctSource` was add, see https://github.com/getsentry/relay/blob/4fc80841346a088c40bb4cd69165e80b5e8862f7/relay-server/src/actors/project_cache.rs#L325 which actually reassembles the service itself.

That's said, we should convert this utility struct to the service and use message to commun

[2022-11-30 12:16] olksdr opened #1656 "Switch `redis-rs` to async"
As follow-up for migration to the new tokio runtime, we want to look into migrating more code to async model.

With upgrade done in https://github.com/getsentry/relay/pull/1538 - `redis-rs` crate supports async (and `tokio`) and we should take the opportunity to look into switching our `sync` code to `async` model.

[2022-11-30 14:34] iker-barriocanal opened #1657 "Support transaction renaming rules"
Given the [protocol](https://www.notion.so/sentry/Clusterer-infra-design-1353df44638b4167af7358d25431ed9c#c5b6345c3e9245b7b460f8b3d2c76106), add support in relay for transaction renaming rules.

### Acceptance criteria
- [ ] Relay only applies the first matching rule.
- [ ] Relay ensures the path ends with a `/` when checking whether a rule matches, as detailed [here](https://www.notion.so/sentry/